%h3= t "general.details"
.large-6.columns.small-12.left-side
  %label{:class => "#{error_on?(@address,:first_name)}"}= t "general.first_name"
  = f.input :first_name, label: false
  %label{:class => "#{error_on?(@address,:email_address)}"}= t "general.email"
  = f.input :email_address, label: false
.large-6.columns.small-12.right-side
  %label{:class => "#{error_on?(@address,:last_name)}"}= t "general.last_name"
  = f.input :last_name, label: false
  %label{:class => "#{error_on?(@address,:phone_number)}"}= t "general.phone_number"
  = f.input :phone_number, label: false
%h3= title
.large-12.columns.small-12
  %label{:class => "#{error_on?(@address,:address1)}"}= t "general.street_address"
  = f.input :address1, label: false
.large-6.columns.small-12.left-side
  %label{:class => "#{error_on?(@address, :address2)}"}= t "general.city"
  = f.input :address2, label: false
.large-6.columns.small-12.right-side
  %label{:class => "#{error_on?(@address, :post_code)}"}= t "general.zip"
  = f.input :post_code, label: false
.large-12.columns.small-12
  %label{:class => "#{error_on?(@address,:country_id)}"}= t "general.country"
  = f.input :country_id, collection: Country.all, label_method: :name, label: false
.large-12.columns.small-12
  %label{:class => "#{error_on?(@address,:address3)}"}= t "general.state"
  = f.input :address3, label: false
%hr/
.large-12.columns.small-12
  = f.button :submit, "#{t 'general.continue'}", class: "button small round", id: "black-btn"