= render(:partial => 'application/progress')
.order-left
  = simple_form_for @address, url: admin_addresses_path(@address), :method => 'post' do |f|
    = f.input :default, as: :hidden, input_html: { value: true }
    = f.input :address_type, as: :hidden, input_html: { value: 'billing' }
    %div{:class => "row billing-form #{hide_form(1)}"}
      = render(:partial => 'form', :locals => {:f => f, :title => "#{t 'general.details'}"})
  %div{:class => "row #{hide_form(2)}"}
    %h3= t "general.delivery"
    %p 
      = check_box_tag "use_billing_address", "no", false
      = t "general.use_billing"
  = simple_form_for @address, url: admin_addresses_path(@address, token: set_token), :method => 'post' do |f|
    = f.input :default, as: :hidden, input_html: { value: false }
    = f.input :address_type, as: :hidden, input_html: { value: 'delivery' }
    %div{:class => "row shipping-form #{hide_form(2)}"}
      = render(:partial => 'form', :locals => {:f => f, :title => "#{t 'general.delivery'}"})
  .row.no-delivery.no-display
    %hr/
    = link_to("continue", delivery_path,"data-no-turbolink" => true, class: "button small round", id: "black-btn")
.order-right
  = render(:partial => 'application/order_summary')
