.login
  .login-container.timefade
    .auth-text#reset-text.signup
      .title
        %h3= t 'layout.reset'
      - if flash.present?
        - flash.each do |type, message|
          %h5= message
    .auth-box
      = simple_form_for :user, url: password_reset_path(params[:id]), method: :patch do |f|
        = f.input :password, label: false, input_html: {id: "password-field", :autocomplete => "new-password", placeholder: "#{t 'general.password'}"}
        = f.input :password_confirmation, label: false, input_html: {id: "password-field", :autocomplete => "new-password", placeholder: "#{t 'general.password_conf'}"}
        = f.button :submit, "#{t 'layout.reset'}", class: "button small round", id: "black-btn"