.login
  .login-container.timefade
    .auth-text.reset-text
      .title 
      %h3= t "general.enter_mail"
      - if flash.present?
        - flash.each do |type, message|
          %h5= message
    .auth-box
      = form_tag password_resets_path, html: { autocomplete: "off" } do
        = text_field_tag :email, params[:email], :autocomplete => "new-password", placeholder: "#{t 'general.email'}", id: "email-field"
        = submit_tag "#{t 'layout.reset'}", class: "button small round", id: "black-btn"

   