= render(:partial => 'application/progress')
.row.cart
  - if cart_total > 0
    %ul.cart-row.cart-header.view-large
      %li= t "cart.product"
      %li= t "cart.price"
      %li= t "cart.qty"
      %li= t "cart.total"
    %h3.view-small= t 'cart.cart'
    %hr/
    - @cart.each do |i, item|
      - total = item["price"].to_i * item["quantity"].to_i
      %ul.cart-row
        %li.img-crt
          = image_tag(item["image_path"])
          .parallel
            %span.text
              %h3= item["name"]
              %p
                = t "cart.size"
                = item["size"].upcase
              = link_to("#{t 'cart.remove'}", remove_path(index: item["index"], "data-no-turbolink" => true))
        %li.view-small 
          .lower
            %span.text
              %h3= item["name"]
              %p
                = t "cart.price_low"
                = price_tag(item["price"].to_i).upcase
              %p
                = t "cart.qty_low"
                = item["quantity"]
              %p
                = t "cart.price_low"
                = item["size"].upcase
              = link_to("#{t 'cart.remove'}", remove_path(index: item["index"], "data-no-turbolink" => true))
        %li
          %p.dark-txt= price_tag(item["price"].to_i).upcase
        %li
          %p= item["quantity"]
        %li
          %p.dark-txt= price_tag(total).upcase
      %hr/
    %ul.cart-row
      %li#total 
        = t "cart.cart_total"
      %li.view-small
        = t "cart.cart_total"
        = price_tag(cart_total).upcase
      %li
        %p.dark-txt= price_tag(cart_total).upcase
    .checkout.row
      = link_to("#{t 'cart.check'}", set_address_path,"data-no-turbolink" => true, class: "button small round", id: "black-btn")
    %p#questions 
      = t "cart.questions"
      = link_to("#{ t 'cart.click'}", contact_path)
  - else
    .empty-cart
      %h3= t "cart.empty"
.row
  %ul.payments
    %li= image_tag('paypal.svg')
    %li= image_tag('master-card.svg')
    %li= image_tag('american-x.svg')
    %li= image_tag('visa.svg')
    %li= image_tag('discover.svg')
= render(:partial => 'application/recommendations')



