.contain
  .row
    .small-12.large-12.columns
      = f.input :delivery_service_id, collection: DeliveryService.all, label_method: :name
  .row
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@delivery_service_price, :code)}"} Code
      = f.input :code, label: false
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@delivery_service_price, :price)}"} Price
      .input-group
        %span.input-group-label ¥
        = f.input_field :price, class: 'input-group-field', type: 'number'
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@delivery_service_price, :cost_price)}"} Cost_price
      .input-group
        %span.input-group-label ¥
        = f.input_field :cost_price, class: 'input-group-field', type: 'number'
.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@delivery_service_price, :min_weight)}"} Min weight
      .input-group
        %span.input-group-label g
        = f.input_field :min_weight, class: 'input-group-field', type: 'number'
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@delivery_service_price, :max_weight)}"} Max weight
      .input-group
        %span.input-group-label g
        = f.input_field :max_weight, class: 'input-group-field', type: 'number'
.contain
  .row
    .small-12.large-12.columns
      = f.input :country_ids, collection: Country.ordered, label_method: :name, include_blank: true, input_html: {class: 'chosen-select', multiple: true}, label: "Countries"
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_delivery_service_delivery_service_prices_path(@delivery_service), class: 'button small dark round header-btn')