.cd-header.show
  =image_tag('deliveries.svg', id:'ds-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to prices', admin_delivery_service_delivery_service_prices_path(@delivery_service), class: 'button small round dark header-btn')
  %h3.mar-left-80 Delivery Service Prices
= simple_form_for @delivery_service_price, url: url_for(:action => 'update', :controller => 'admin/delivery_service_prices'), :method => 'patch' do |f|
  = render(:partial => 'form', :locals => {:f => f})
