.cd-header.show
  =image_tag('deliveries.svg', id:'ds-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new Delivery price', new_admin_delivery_service_delivery_service_price_path(@delivery_service), class: 'button small round success header-btn')
  %h3.mar-left-80 Delivery Service Prices
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 150} Code
          %th{width: 300} Weight Allowance
          %th{width: 200} Price
          %th{width: 200} Cost
          %th{width: 50}
      %tbody
        - @delivery_service_prices.each do |price|
          %tr
            %td= link_to price.code, [:edit_admin, @delivery_service, price]
            %td= price.min_weight.to_s + "g - " + price.max_weight.to_s + "g"
            %td= price.price
            %td= price.cost_price
            %td.delete= link_to "Delete", admin_delivery_service_delivery_service_price_path(@delivery_service, price), method: :delete, data: {confirm: "Are you sure you want to delete this Delivery Sercice price?"}
    .admin-page
      = will_paginate @currencies