Hello <%=@user.first_name%>

To reset you password, Click the link below

<%= edit_password_reset_url(id: @user.password_reset_token) %>

If you did not requeset your password to be reset, just ignore this email and your password will stay the same. 

Thanks,

GolfLines Legalized Society