Hello <%=@user.first_name%>

Welcome to GolfLines-Legalized Society's official website we hope that you have a pleasant
experience on our platform .

Remember, Simplicity is the key.

Thanks,

GolfLines Legalized Society