.contain
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@article, :title)}"} Title
      = f.input :title, label: false
.contain
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@article, :permalink)}"} Permalink
      = f.input :permalink, label: false
.contain
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@article, :name)}"} Content
      = f.cktext_area :content, as: :text, label: false
.contain
  .row
    .small-12.large-12.columns
      = f.input :credits, as: :text
.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@article, :name)}"} Publication Date
      = f.input :pub_date, label: false, as: :date, start_year: Date.today.year, end_year: Date.today.year + 12, order: [:month, :year, :day]
    .small-6.large-6.columns
      = f.input :visible, as: :boolean, label: "Sets this as visible When checked."
.contain
  .row
    = f.label "Article Images"
  .p-images.row
    - if @article.has_attachments?
      - @article.attachments.each do |attachment|
        .p-image
          = img_tag(attachment)
          %p= attachment.file_name
    - else
      %p.no-file Upload The appropriate article images (ie: head.jpg, head.png,...)
  .row
    = file_field_tag "images[]", type: :file, multiple: true
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_articles_path(), class: 'button small dark round header-btn')