.cd-header.show
  =image_tag('articles.svg', id:'ar-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to articles', admin_articles_path(@article), class: 'button small round dark header-btn')
  = admin_locale_tag
  %h3.mar-left-65 Articles
= simple_form_for @article, html: {multipart: true}, url: url_for(:action => 'update', :controller => 'admin/articles'), :method => 'patch' do |f|
  = render(:partial => 'form', :locals => {:f => f})
