.cd-header.show
  =image_tag('articles.svg', id:'ar-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new article', new_admin_article_path(), class: 'button small round success header-btn')
  %h3.mar-left-65 Articles
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 150} Title
          %th{width: 150} Pub Date
          %th{width: 150} Author
          %th{width: 150} Visible?
          %th{width: 50} Likes
          %th{width: 50}
          %th{width: 50}
      %tboby
        - @articles.each do |article|
          %tr
            %td= link_to(article.title.titleize, edit_admin_article_path(article))
            %td= article.pub_date.strftime("%m/%d/%y")
            %td Admin
            %td= status_tag(article.visible)
            %td= article.reputation_for(:likes).to_i
            %td.delete= link_to "Delete", admin_article_path(article), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}
            %td.delete= link_to "Preview", blog_article_path(permalink: article.permalink)
    .admin-page
      = will_paginate @articles