.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@tax_rate,:name)}"} Name
      = f.input :name, label: false
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@tax_rate,:rate)}"} Rate
      .input-group
        %span.input-group-label %
        = f.input_field :rate, class: 'input-group-field', type: 'number'
.contain
  .row
    .small-12.large-12.columns
      = f.input :country_ids, collection: Country.ordered, label_method: :name, include_blank: true, input_html: {class: 'chosen-select', multiple: true}, label: "Countries"
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_tax_rates_path(), class: 'button small dark round header-btn')