.cd-header.show
  =image_tag('tax.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new tax rate', new_admin_tax_rate_path(), class: 'button small round success header-btn')
  %h3.mar-left-80 Tax Rates
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 500} Name
          %th{width: 350} Rate(%)
          %th{width: 50}
      %tbody
        - @tax_rates.each do |rate|
          %tr
            %td= link_to(rate.name, edit_admin_tax_rate_path(rate))
            %td= rate.rate
            %td.delete= link_to "Delete", admin_tax_rates_path(rate), method: :delete, data: {confirm: "Are you sure you want to delete this Tax Rate?"}
    .admin-page
      = will_paginate @tax_rates