.cd-header.show
  =image_tag('tax.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to promotions', admin_tax_rates_path(), class: 'button small round dark header-btn')
  %h3.mar-left-80 Tax Rates
= simple_form_for @tax_rate, url: admin_tax_rates_path(@tax_rate), method: :post do |f|
  = render(:partial => 'form', :locals => {:f => f})