.cd-header.show
  =image_tag('order.svg', id:'ar-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  %h3.mar-left-80 Orders
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 100} Number
          %th{width: 200} Customer
          %th{width: 100} State
          %th{width: 150} Products
          %th{width: 110} Total(¥)
          %th{width: 90} Payment
          %th{width: 50} 
      %tbody
        - @orders.each do |order|
          %tr
            %td= link_to(order.id, admin_order_path(order))
            %td= order.customer.full_name
            %td{:class => "#{order.state}"}= order.state.capitalize
            %td
              - order.order_items.each do |item|
                = item.ordered_item.name.titleize + ", "
            %td
              - if order.received?
                = order.amount_paid.to_s
              - else
                = "0"
            %td
              - if order.payments.last.nil?
                = "----------"
              - else
                = order.payments.last.state
            %td.delete= link_to "Delete", admin_order_path(order), method: :delete, data: {confirm: "Are you sure you want to delete this order?"}
    .admin-page
      = will_paginate @orders

