.cd-header.show
  =image_tag('order.svg', id:'ar-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to orders', admin_orders_path, class: 'button small round dark header-btn')
  %h3.mar-left-80 Orders
.contain
  .row.show-order
    .large-6.small-6.columns
      .row
        .large-5.small-5.columns.large-offset-1
          %ul.show-order-left
            %li Customer
            - if @order.separate_delivery_address
              %li Billing Name
              %li Delivery Name
              %li Delivery Address
              %li Billing Address
            - else
              %li Bil/Del Name
              %li Bil/Del Address
        .large-6.small-6.columns
          %ul.show-order-right
            %li= link_to @order.customer.full_name, edit_admin_user_path(@order.customer)
            - if @order.separate_delivery_address
              %li= @order.billing_name
              %li= @order.shipping_name
              %li= @order.shipping_address.full_address + "; "
              %li= @order.billing_address.full_address
            - else
              %li= @order.billing_name
              %li= @order.billing_address.full_address
    .large-6.small-6.columns
      .row
        .large-5.small-5.columns.large-offset-1
          %ul.show-order-left
            %li Email address
            - if @order.separate_delivery_address
              %li Bil Telephone
              %li Del Telephone
            - else
              %li Telephone
            - if @order.received?
              %li Weight
              %li Delivery Service
        .large-6.small-6.columns
          %ul.show-order-right
            %li= @order.customer.email
            - if @order.separate_delivery_address
              %li= @order.billing_address.phone_number
              %li= @order.shipping_address.phone_number
            - else 
              %li= @order.billing_address.phone_number
            - if @order.received?
              %li= @order.total_weight.to_s + "g"
              %li= @order.delivery_service.name.capitalize
.row
  .small-11.medium-11.large-10.columns.large-offset-2
    %table.table
      %thead
        %tr
          %th{width: 250} Item
          %th{width: 200} Price/Variant(¥)
          %th{width: 200} quantity
          %th{width: 125} Weight
          %th{width: 125} Total
      - if @order.received? || @order.has_items?
        %tboby
          - @order.order_items.each do |item|
            %tr
              %td= item.ordered_item.name.capitalize
              %td= item.ordered_item.price
              %td= item.quantity
              %td= item.total_weight
              %td= item.total_cost
          %tr
            %td Total
            %td
            %td
            %td= @order.total_weight
            %td= @order.total_cost
.row
  .small-11.medium-11.large-10.columns.large-offset-2
    %table.table
      %thead
        %tr
          %th{width: 200} Payment Amount($)
          %th{width: 150} Method
          %th{width: 150} State
          %th{width: 250} Received at
          %th{width: 150} 
      %tboby
        - @order.payments.each do |payment|
          %tr
            %td= (Currency.find_by_locale("en").rate * payment.amount.to_i).to_i
            %td= payment.method
            %td= payment.state
            %td= payment.created_at.strftime("%m/%d/%y")
            %td.delete= link_to "Confirm", confirm_admin_payment_path(payment)
          %tr
            %td Total
            %td
            %td
            %td= @order.total_weight
            %td= @order.total_cost
.contain.last
  .row
    = link_to('ACCEPT', accept_admin_order_path(@order), class: 'button small success round header-btn')
    = link_to('REJECT', reject_admin_order_path(@order), class: 'button small dark round header-btn')
    = link_to('SHIP', ship_admin_order_path(@order), class: 'button small dark round header-btn')

       