.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@delivery_service, :name)}"} Name
      = f.input :name, label: false
    .small-6.large-6.columns
      = f.input :code
.contain
  .row
    .small-6.large-6.columns
      = f.input :default, as: :boolean, label: "Sets this as default Delivery service when checked."
    .small-6.large-6.columns
      = f.input :active, as: :boolean, label: "Sets this as active when checked."
.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@delivery_service, :courier)}"} Courier
      = f.input :courier, label: false
    .small-6.large-6.columns
      = f.input :tracking_url
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_delivery_services_path(), class: 'button small dark round header-btn')
    
