.cd-header.show
  =image_tag('deliveries.svg', id:'ds-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('Back to services', admin_delivery_services_path(), class: 'button small round dark header-btn')
  %h3.mar-left-80 Delivery Services
= simple_form_for @delivery_service, url: url_for(:action => 'update', :controller => 'admin/delivery_services'), :method => 'patch' do |f|
  = render(:partial => 'form', :locals => {:f => f})