.cd-header.show
  =image_tag('deliveries.svg', id:'ds-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new Delivery Sercice', new_admin_delivery_service_path(), class: 'button small round success header-btn')
  %h3.mar-left-80 Delivery Services
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 200} Name
          %th{width: 200} Prices
          %th{width: 200} Courrier
          %th{width: 120} Active
          %th{width: 120} Default
          %th{width: 60}
      %tbody
        - @delivery_services.each do |d_service|
          %tr
            %td= link_to(d_service.name.capitalize, edit_admin_delivery_service_path(d_service))
            %td= link_to("Set prices", admin_delivery_service_delivery_service_prices_path(delivery_service_id: d_service))
            %td= d_service.courier
            %td= status_tag(d_service.active)
            %td= status_tag(d_service.default)
            %td.delete= link_to "Delete", admin_delivery_service_path(d_service), method: :delete, data: {confirm: "Are you sure you want to delete this Delivery Sercice?"}
    .admin-page
      = will_paginate @delivery_services