.cd-header.show
  =image_tag('deliveries.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('Back to Services', admin_delivery_services_path(), class: 'button small round dark header-btn')
  %h3.mar-left-80 Delivery Services
= simple_form_for @delivery_service, url: admin_delivery_services_path(@delivery_service), method: :post do |f|
  = render(:partial => 'form', :locals => {:f => f})