= form_for :stock_level_adjustment, id: "sla-form", :url => {:controller => 'stock_level_adjustments', :action => 'create', product_id: @product.id} do |f|
  %table.table#modal_table
    %thead
      %tr
        %th{width: 200} X-Small
        %th{width: 200} Small
        %th{width: 200} Medium
        %th{width: 200} Large
        %th{width: 200} X-Large
        %th{width: 200} XX-Large
        %th{width: 200} 
    %tbody
      %tr
        %td= f.number_field :adjustment_xs
        %td= f.number_field :adjustment_s
        %td= f.number_field :adjustment_m
        %td= f.number_field :adjustment_l
        %td= f.number_field :adjustment_xl
        %td= f.number_field :adjustment_xxl
        %td= f.submit "add", id: "commit-sla", class: 'button success tiny round'
      %tr
        %td{:class => "stock #{stock_status(@product.stock_xs)}"}
          = @product.stock_xs
        %td{:class => "stock #{stock_status(@product.stock_sm)}"}
          = @product.stock_sm
        %td{:class => "stock #{stock_status(@product.stock_m)}"}
          = @product.stock_m
        %td{:class => "stock #{stock_status(@product.stock_lg)}"}
          = @product.stock_lg
        %td{:class => "stock #{stock_status(@product.stock_xl)}"}
          = @product.stock_xl
        %td{:class => "stock #{stock_status(@product.stock_xxl)}"}
          = @product.stock_xxl
        %td.align-center= time_ago_in_words(@stock_level_adjustments.last.created_at) + ' ago'
%a.close-reveal-modal{:'aria-label' => "Close"}
  &#215;
