= render(:partial => 'application/progress')
.order-left
  .row.payment-container
    = form_tag admin_payments_path(token: @order.token) do
      #dropin
      = submit_tag "Pay #{price_tag(@amount_paid)}", class: "button small round", id: "black-btn"
.order-right
  = render(:partial => 'application/order_summary')