/*---------------------------
           fonts             
 ----------------------------*/
@font-face {
	font-family: Brandon;
	font-weight: regular;
	src: asset_url('Brandon_reg.otf');
}

@font-face {
	font-family: Brandon-Light; 
	font-weight: lighter;
	src: asset_url('Brandon_light.otf');
}

@font-face {
	font-family: Brandon-Bold;
	font-weight: bold;
	src: asset_url('Brandon_bld.otf');
}

@font-face {
	font-family: Brandon-Medium;
	font-weight: medium;
	src: asset_url('Brandon_med.otf');
}

@font-face {
	font-family: canterbury;
	font-weight: regular;
	src: asset_url('Canterbury.ttf');
}

$b-light:     Brandon-Light, sans-serif; 
$b-med:       Brandon-Medium, sans-serif; 
$b-reg:       Brandon, sans-serif; 
$b-bold:      Brandon-Bold, sans-serif;
$canterbury:  canterbury, sans-serif;