.contain
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@promotion,:description)}"} Description
      = f.input :description, as: :text, label: false
  .row
    .small-6.large-6.columns
      = f.input :visible, as: :boolean, checked_value: true, unchecked_value: false, label: 'When checked this promotion will be active and visible to the users.'
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@promotion,:rate)}"} Rate
      .input-group
        %span.input-group-label 
        = f.input_field :rate, class: 'input-group-field', type: 'number'
.contain
  .row
    .small-6.large-6.columns
      = f.input :code, label: 'Promo code'
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@promotion, :valid_until)}"} Valid until
      = f.input :valid_until, label: false, as: :date, start_year: Date.today.year, end_year: Date.today.year + 12, order: [:month, :year, :day]
.contain
  .row
    = f.label "Promotion Cover Image"
  .p-images.row
    - if @promotion.has_attachments?
      - @promotion.attachments.each do |attachment|
        .p-image
          = img_tag(attachment)
          %p= attachment.file_name
    - else
      %p.no-file Upload The appropriate article images (ie: cover.jpg, cover.png,...)
  .row
    = file_field_tag "images[]", type: :file, multiple: true
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_promotions_path(), class: 'button small dark round header-btn')
