.cd-header.show
  =image_tag('orders.svg', id:'or-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to promotions', admin_promotions_path(), class: 'button small round dark header-btn')
  = admin_locale_tag
  %h3.mar-left-80 Promotions
= simple_form_for @promotion, html: {multipart: true}, url: url_for(:action => 'update', :controller => 'admin/promotions'), :method => 'patch' do |f|
  = render(:partial => 'form', :locals => {:f => f})