.cd-header.show
  =image_tag('orders.svg', id:'or-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new promotion', new_admin_promotion_path(), class: 'button small round success header-btn')
  %h3.mar-left-80 Promotions
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 200} Rate(%)
          %th{width: 200} Visible
          %th{width: 300} Description
          %th{width: 300} Valid until
          %th{width: 50}
      %tbody
        - @promotions.each do |promo|
          %tr
            %td= link_to(promo.rate, edit_admin_promotion_path(promo))
            %td= status_tag(promo.visible)
            %td= truncate(promo.description)
            %td= promo.valid_until.strftime("%m/%d/%y")
            %td.delete= link_to "Delete", admin_promotion_path(promo), method: :delete, data: {confirm: "Are you sure you want to delete this promotion?"}
    .admin-page
      = will_paginate @promotions