.contain
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@country,:currency)}"} Currency
      = f.input :currency_id, collection: Currency.all, label_method: :name, label: false
.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@country,:name)}"} Name
      = f.input :name, label: false
    .small-6.large-6.columns
      = f.input :shipment, as: :boolean, label: "shipping?"
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_countries_path(), class: 'button small dark round header-btn')
