.cd-header.show
  =image_tag('countries.svg', id:'ct-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new country', new_admin_country_path(), class: 'button small round success header-btn')
  %h3.mar-left-65 Countries
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 300} Name
          %th{width: 300} Shipping?
          %th{width: 250} Currency
          %th{width: 50}
      %tbody
        - @countries.each do |country|
          %tr
            %td= link_to(country.name, edit_admin_country_path(country))
            %td= status_tag(country.shipment)
            %td= Currency.find(country.currency_id).name
            %td.delete= link_to "Delete", admin_country_path(country), method: :delete, data: {confirm: "Are you sure you want to delete this country?"}
    .admin-page
      = will_paginate @countries