.cd-header.show
  =image_tag('countries.svg', id:'ct-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to countries', admin_countries_path(), class: 'button small round dark header-btn')
  %h3.mar-left-65 Countries
= simple_form_for @country, url: admin_countries_path(@country), :method => 'post' do |f|
  = render(:partial => 'form', :locals => {:f => f})