@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

@mixin move-left($coordinate){
  visibility: visible;
  position: relative;
  @include transform(translateX($coordinate));
    -webkit-backface-visibility: hidden;

  @include transition-property (transform);
  @include transition-duration(.4s);
}

@mixin move-right($coordinate){
  visibility: visible;
  position: relative;
    @include transform(translateX($coordinate));
    -webkit-backface-visibility: hidden;

  @include transition-property (transform);
  @include transition-duration(.4s);
}

@mixin placeholder($color) {
  input::-webkit-input-placeholder {
  color: $color !important;
  font-style: $b-light !important;
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: $color !important;  
  font-style: $b-light !important;
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: $color !important;  
  font-style: $b-light !important;
  }
   
  input:-ms-input-placeholder {  
  color: $color !important;  
  font-style: $b-light !important;
  }
}