= render(:partial => 'application/progress')
.order-left
  .row
    %h3= t "cart.delivery"
  .row.cart
  %ul.cart-row.cart-header.view-large
    %li= t "cart.product"
    %li= t "cart.price"
    %li= t "cart.qty"
    %li= t "cart.total"
  %hr/
  - cart.each do |i, item|
    - total = item["price"].to_i * item["quantity"].to_i
    %ul.cart-row
      %li.img-crt
        = image_tag(item["image_path"])
        .parallel
          %span.text
            %h3= item["name"]
            %p
              = t "cart.size"
              = item["size"].upcase
      %li.view-small
        .lower
          %span.text
            %h3= item["name"]
            %p
              = t "cart.price_low"
              = price_tag(item["price"].to_i).upcase
            %p
              = t "cart.qty_low"
              = item["quantity"]
            %p
              = t "cart.size"
              = item["size"].upcase
      %li
        %p.dark-txt= price_tag(item["price"].to_i).upcase
      %li
        %p= item["quantity"]
      %li
        %p.dark-txt= price_tag(total).upcase
  = render(:partial => 'application/delivery_service')
.order-right
  = render(:partial => 'application/order_summary')
