Hello <%=@order.customer.first_name%>!

Re: Order #<%=@order.id%>

We're pleased to let you know that we have accepted your order and your payment has been taken from your card successfully.
We will e-mail you again when we ship your order from our warehouse.

Many thanks,

GolfLines Legalized Society



