Hello <%=@order.customer.first_name%>!

Re: Order #<%=@order.id%>

We're pleased to let you know that we have received your order and one of our team will be accepting it shortly.

We will e-mail you again when your order has been accepted.

Many thanks,

GolfLines Legalized Society