Hello <%=@order.customer.first_name%>!

Re: Order #<%=@order.id%>

Unfortunately, this attached order was rejected. This is most likely due to our over-zealous fraud system so if you wish to continue with this order, please drop us an email or give us a call.

Many thanks,

GolfLines Legalized Society