Hello <%=@order.customer.first_name%>!

Re: Order #<%=@order.id%>

We're pleased to let you know your order has been shipped and
will be with you shortly!

<% if @order.delivery_service && @order.courier_tracking_url -%>
You can track the delivery online at:
<%=@order.courier_tracking_url%>
<% end -%>

Many thanks,

GolfLines Legalized Society