.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@currency, :name)}"} Name
      = f.input :name, label: false
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@currency, :rate)}"} Rate
      = f.input :rate, label: false
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@currency, :locale)}"} Language/locale
      = f.input :locale, label: false
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_currencies_path(), class: 'button small dark round header-btn')
