.cd-header.show
  =image_tag('products.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new currency', new_admin_currency_path(), class: 'button small round success header-btn')
  %h3 Currencies
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 400} Name
          %th{width: 400} Rate(%)
          %th{width: 70}
      %tbody
        - @currencies.each do |currency|
          %tr
            %td= link_to(currency.name, edit_admin_currency_path(currency))
            %td= currency.rate
            %td.delete= link_to "Delete", admin_currency_path(currency), method: :delete, data: {confirm: "Are you sure you want to delete this currency?"}
    .admin-page
      = will_paginate @currencies