.cd-header.show
  =image_tag('products.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to currencies', admin_currencies_path(), class: 'button small round dark header-btn')
  %h3 Currencies
= simple_form_for @currency, url: admin_currencies_path(@currency), :method => 'post' do |f|
  = render(:partial => 'form', :locals => {:f => f})