.contain
  .row
    .small-12.large-12.columns
      = f.input :product_category_id, collection: ProductCategory.all, label_method: :name
  .row
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@product,:name)}"} Name
      = f.input :name, label: false
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@product,:permalink)}"} Permalink
      = f.input :permalink, label: false
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@product,:price)}"} Price
      .input-group
        %span.input-group-label ¥
        = f.input_field :price, class: 'input-group-field', type: 'number'
  .row
    .small-12.large-12.columns
      = f.input :description, as: :text
.contain
  .row
    .small-6.large-6.columns
      = f.input :promoted, as: :boolean, checked_value: true, unchecked_value: false, label: 'When Checked the promo price will be displayed.'
    .small-3.large-3.columns
      = f.input :promotion_id, collection: Promotion.all, label_method: :rate
    .small-3.large-3.columns
      = f.input :promo_price
.contain
  .row
    .small-6.large-6.columns
      = f.input :stock_control, as: :boolean, checked_value: true, unchecked_value: false, label: 'When checked the stock levels will be considered.'
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@product,:weight)}"}Weight
      .input-group
        %span.input-group-label g
        = f.input_field :weight, class: 'input-group-field', type: 'number'
.contain
  .row
    = f.label "Product images"
  .p-images.row
    - if @product.has_attachments?
      - @product.attachments.each do |attachment|
        .p-image
          = img_tag(attachment)
          %p= attachment.file_name
    - else 
      %p.no-file Upload The appropriate product images (eg: front.jpg, back.jpg, detail_front_lg.jpg, detail_back_lg.jpg, detail_back.jpg)
  .row
    = file_field_tag "images[]", type: :file, multiple: true
.contain
  .row
    .small-6.large-6.columns
      = f.input :active, as: :boolean, checked_value: true, unchecked_value: false, label: 'Set the produt status as active when checked.'
    .small-6.large-6.columns
      = f.input :parent_id, collection: Product.all, label_method: :name

.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_products_path(), class: 'button small dark round header-btn')

    
