.cd-header.show
  =image_tag('products.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to products', admin_products_path(@product), class: 'button small round dark header-btn')
  = admin_locale_tag
  %h3 Products
= simple_form_for @product, html: {multipart: true}, url: url_for(:action => 'update', :controller => 'admin/products'), :method => 'patch' do |f|
  = render(:partial => 'form', :locals => {:f => f})

  