.cd-header.show
  =image_tag('products.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new product', new_admin_product_path(), class: 'button small round success header-btn')
  %h3 Products
.row
  .small-11.medium-11.large-10.columns.large-offset-2
    %table.table
      %thead
        %tr
          %th{width: 300} Name
          %th{width: 300} Price/Variant(¥)
          %th{width: 250} Stock
          %th{width: 50}
      %tboby
        - @products.each do |product|
          %tr
            %td= link_to(product.name, edit_admin_product_path(product))
            %td= product.price
            %td{:class => "stock #{ stock_status(product.total_stock)}"}
              = product.total_stock
              = link_to_image('pencil.svg', new_admin_stock_level_adjustment_path(product_id: product.id) , remote: true, data: { reveal_id: 'modal', product_id: product.id}, class: 'pencil')
            %td.delete= link_to "Delete", admin_product_path(product), method: :delete, data: {confirm: "Are you sure you want to delete this product?"}
    .admin-page
      = will_paginate @products








