.cd-header.show
  =image_tag('products.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to products', admin_products_path(), class: 'button small round dark header-btn')
  = admin_locale_tag
  %h3 Products
= simple_form_for :product, html: {multipart: true}, url: admin_products_path(@product), method: :post do |f|
  = render(:partial => 'form', :locals => {:f => f})




