@mixin icon($asset) {
  background: url(asset_path(#{$asset})) no-repeat center center;
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
}

.arrow-left {
	@include icon("arrow-left.svg");
	width: 10px;
}

.icon-true {
	@include icon("true.svg");
	width:20px;

}

.icon-false {
	@include icon("false.svg");
	width:20px;
}
