.blog-header
  .image-contain
    = xl_img_tag(@article.attachments.find_by_file_name('head'), 'head')
    = link_to blog_article_path(permalink: @article.permalink) do
      .blog-title
        %h3.bolder= @article.title
    .social
      -# %h5= t "blog.share"
      = social_share_button_tag(@article.title.titleize)
    #heart
      - if current_user && !@article.was_liked?(current_user)
        = link_to like_admin_article_path(@article), data: {remote: true}, method: "post" do
          %span{:class => "#{'article_' + @article.id.to_s} heart"}
            = @article.reputation_for(:likes).to_i
      - else
        %span.heart
          = @article.reputation_for(:likes).to_i
  .avatar
    .avatar-contain
      = thumb_img_tag(@article.admin.attachments.find_by_file_name('avatar'), 'avtr')
  .author-creds
    %p#author= @article.admin.full_name
    %p#job= @article.admin.job_title
.row.text-content
  %p= @article.content.html_safe
  %hr/
.row.comments
  %h4#comments-head= t "blog.comments"
  - if logged_in?
    = simple_form_for @comment, url: comments_path(@comment) do |f|
      %ul.comments
        %li
          .comment-left
            = image_tag('thumbnail.svg')
          .comment-right
            = f.input :content, placeholder: "Leave a comment...", label: false
            = f.input :customer_id, as: :hidden, input_html: { value: current_user.id }
            = f.input :article_id, as: :hidden, input_html: { value: @article.id }
        %li#submit-comment.disabled
          = f.button :submit, "post comment", class: "button tiny round", id: "black-btn"
  %ul.comments
    - @comments.each do |comment|
      %li
        .comment-left
          = image_tag('thumbnail.svg')
        .comment-right
          %p#full-name= comment.customer.full_name
          %p#actions
            = time_ago_in_words(comment.created_at).capitalize + " ago"
            - if logged_in? && current_user.is_admin?
              = link_to "| Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"}
          %p#content= comment.content
          - if current_user && !comment.was_liked?(current_user)
            = link_to like_comment_path(comment), id: 'like-link', data: {remote: true}, method: "post" do
              %span{:class => "#{'comment_' + comment.id.to_s} heart", :id => "like"}
                = comment.reputation_for(:likes).to_i
          - else
            %span.heart#like
              = comment.reputation_for(:likes).to_i
  
