.blog-header
  - if @article.present?
    .image-contain
      = xl_img_tag(@article.attachments.find_by_file_name('head'), 'head')
      = link_to blog_article_path(permalink: @article.permalink) do
        .blog-title
          %h3= @article.title
          %p
            by
            = @article.admin.full_name
      #heart
        %span.heart
          = @article.reputation_for(:likes).to_i
.blog-list
  - @articles.each do |article|
    .blog-left
      = link_to blog_article_path(permalink: article.permalink) do
        = xl_img_tag(article.attachments.find_by_file_name('head'), 'head')
        = image_tag('loupe.svg', class: "loupe")
    .blog-right
      .content
        = link_to blog_article_path(permalink: article.permalink) do
          %h3= article.title.titleize
          .author-dets
            %p.author
              by
              = article.admin.short_name
            %ul#social
              -if !(article.admin.twitter.nil?)
                %li
                  = link_to "https://wwww.twitter.com/" + article.admin.twitter do
                    = image_tag("twitter.svg")
              -if !(article.admin.facebook.nil?)
                %li
                  = link_to "https://wwww.facebook.com/" + article.admin.facebook do
                    = image_tag("facebook-f.svg")
              -if !(article.admin.facebook.nil?)
                %li
                  = link_to "https://wwww.instagram.com/" + article.admin.instagram do
                    = image_tag("instagram-b.svg")
        %hr/
        %p= truncate(article.content.html_safe, length: 300)
        = link_to "#{t 'blog.view'}", blog_article_path(permalink: article.permalink), class: "button small round", id: "black-btn"
    %hr/
.page
  = will_paginate @articles