.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@product_category,:name)}"} Name
      = f.input :name, label: false
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@product_category,:permalink)}"} Permalink
      = f.input :permalink, label: false
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@product_category,:description)}"} Description
      = f.input :description, as: :text, label: false

.contain
  .row
    .small-6.large-6.columns
      = f.input :promoted, as: :boolean, checked_value: true, unchecked_value: false, label: 'When Checked the promo price will be displayed.'
    .small-6.large-6.columns
      = f.input :promotion_id, collection: Promotion.all, label_method: :rate
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_product_categories_path(), class: 'button small dark round header-btn')

