.cd-header.show
  =image_tag('products.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new category', new_admin_product_category_path(), class: 'button small round success header-btn')
  %h3 Categories
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 300} Name
          %th{width: 300} Permalink
          %th{width: 250} Promoted?
          %th{width: 50}
      %tbody
        - @product_categories.each do |category|
          %tr
            %td= link_to(category.name, edit_admin_product_category_path(category))
            %td= category.permalink
            %td= status_tag(category.promoted) 
            %td.delete= link_to "Delete", admin_product_category_path(category), method: :delete, data: {confirm: "Are you sure you want to delete this category?"}
    .admin-page
      = will_paginate @product_categories