.cd-header.show
  =image_tag('products.svg', id:'pr-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('Back to categories', admin_product_categories_path(), class: 'button small round dark header-btn')
  = admin_locale_tag
  %h3 Categories
= simple_form_for @product_category, url: admin_product_categories_path(@product_category), method: :post do |f|
  = render(:partial => 'form', :locals => {:f => f})
