/*--------------------------------------------------------
                    Main navigation
 -------------------------------------------------------*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	height: 80px;
	width: 100%;
	@include transition(background-color .3s);
	@include font-smoothing;
	color: white;
	@include font-size(14px);
	font-family: $b-bold;
	z-index: 5000;

    #golflines {
        position: absolute;
        @include center(xy);
        @include MQ(S) {
	       max-width: 50px;
		}
		@include MQ(M) {
	       max-width: 60px;
		}
		@include MQ(L) {
		   max-width: 60px;
		}
    }

    li.username {
    	color: $black;
    	font-family: $b-reg;
    	padding-right: 30px;
    	@include font-size(16px);
    	@include MQ(S) {
	       visibility: hidden;
		}
		@include MQ(M) {
	       visibility: visible;
		}
		@include MQ(L) {
		   visibility: visible;
		}
    }


    li.username-w {
    	@extend li.username;
    	color: $white-1;
    }

    .secondary-nav {
		position: absolute;
		@include center(y);
		
		@include MQ(S) {
	       right: 2em;
	       li {
				margin-left: 0.3em;
			}
		}
		@include MQ(M) {
	       right: 3em;
	       li {
				margin-left: 0;
			}
		}
		@include MQ(L) {
		   right: 3em;
		   li {
				margin-left: 0.3em;
			}
		}
		li {
			display: inline-block;
			text-transform: uppercase;
			@include font-size(12.5px);
			cursor: pointer;
			&#circle {
				width: 4.5px;
				height: 4.5px;
				background: $white;
				margin-bottom: 2px;
				-moz-border-radius: 100px /50px;
				-webkit-border-radius: 100px/50px;
				border-radius: 50px;

			}

			&.light {
				@include font-size(15px);
			}

			&.cart-trigger {
				@include MQ(S) {
				  display: none;
			    }

			    @include MQ(L) {
			  	  display: inline-block;
			    }
			}
		}

		a {
			@include font-size(12.5px);
			display: inline-block;
			color: $white;
			text-transform: uppercase;
		}
	}

	&.is-fixed {
		position: fixed;
		top: -80px;
		background-color: rgba(21, 21, 22, 1);
		-webkit-transition: -webkit-transform 0.3s;
	    -moz-transition: -moz-transform 0.3s;
		transition: transform 0.3s;

		.menu-icon {
			background-color: $white-1 !important;
	    	&:before {
	    		background-color: $white-1 !important;
	    	}
	    	&:after {
	    		background-color: $white-1 !important;
	    	}
		}
        
		.cart-link > a, li.username {
			color: $white-1 !important;
		}

		.locale-select{
			a, a:hover {
				color: $white-1 !important;
			}
		}

	}
    
	&.is-visible {
		@include transform(translate3d(0,100%,0));
	}
	&.dark {

		a {
          color: $black !important;
    	  @include font-size(12.5px);
		} 

	    .menu-icon {
	    	background-color: $black;
	    	&:before {
	    		background-color: $black;
	    	}

	    	&:after {
	    		background-color: $black;
	    	}
	    }
	}

}

.locale-select{
	position: absolute;
    z-index: 5000;
	@include center(y);
	
	@include MQ(S) {
       left: 5em;
	}
	@include MQ(M) {
       left: 8em;
	}
	@include MQ(L) {
	   left: 8em;
	}

	a, a:hover {
		font-family: $b-reg;
	    @include font-size(13px);
	    text-transform: uppercase;
	    color: $white-1;
	}
}

.primary-nav-trigger {
	position: absolute;
	@include center(y);
	height: 30%;
	width: 20px;
	z-index: 5000;

	@include MQ(S) {
       left: 2em;
	}
	@include MQ(M) {
       left: 4em;
	}
	@include MQ(L) {
	   left: 4em;
	}

    .menu-icon {
    	display: inline-block;
    	position: absolute;
    	@include center(y);
    	left: 0;
    	width: 20px;
    	background-color: $white-1;
    	height: 2px;
    	@include transition(all .2s ease-in-out);
    	z-index: 5000;

    	&:before {
    		content: "";
    		display: inline-block;
    	    position: absolute;
    	    @include center(y);
    		width: 20px;
    	    background-color: $white-1;
    	    height: 2px;
    	    z-index: 5000;
    	    @include transform(translateY(-8px));
    	    @include transition(all .2s ease-in-out);
    	}

    	&:after {
    		content: "";
    		display: inline-block;
    	    position: absolute;
    	    @include center(y);
    		width: 20px;
    	    background-color: $white-1;
    	    height: 2px;
    	    z-index: 5000;
    	    @include transform(translateY(6px));
    	    @include transition(all .2s ease-in-out);
    	}

    	&.on {
    		background-color: $black;
    		&:before, &:after {
    			@include transform(translateY(0px));
    			background-color: $black;
    			z-index: 5000;
    		}
    	}
    }
}

/*--------------------------------------------------------
                    Store navigation  
 -------------------------------------------------------*/
div.scroller {
	position: fixed;
	@include center(y);
	opacity: 0;
	@include transform(rotate(-90deg));
	@include transition(opacity 0.2s ease-in-out);
	z-index: 150;

	&.fade {
		opacity: 1;
	}

	&.active {
		display: none;
	}

	p {
		width: 200px;
		@include font-size(17px);
		@include font-smoothing;
		cursor: pointer;
	    .svg {
	    	display: inline-block;
	    	width: 100px;
	    }
    }

    @include MQ(S) {
	  display: none;
    }

    @include MQ(L) {
  	  display: block;
    }
}

div.slider {
	width: 100%;
	height: 80px;
}
.nav-shop {
	width: 100%;
	height: 70px;
	position: relative;
	background-color: $white;

	.shop-category {
		position: absolute;
		@include center(xy);

		li {
			position: relative;
			margin-left: 2em;
            display: inline-block;
            &.nav-on {
			    display: inline-block;
            }

            &.nav {

				@include MQ(S) {
					display: none;
				}

				@include MQ(L) {
					display: inline-block;
				}
            }
		}
		.bubble {
			position: absolute;
			padding-left: 1px;
			padding-top: 2px;
			top: -5px;
			right: -10px;
			width: 20px;
			height: 20px;
			border-radius: 50px;
			background-color: $red-1;
			color: $white-1;
            @include font-size(10px);
            @include font-smoothing;
		}

		a {
			@include font-size(13px);
			@include font-smoothing;
			font-family: $b-bold;
			position: relative;
			display: inline-block;
			color: lighten(#212121, 40%);
			text-transform: uppercase;
			@include transition(color 0.3s ease-in);
			&:hover {
	  			color: $black;
	  		}
			
	  		&.expand {
	  			color: $black;

	  		}
	  		&.nav-on {
	  			color: $black;
	  		}
		}
	}
}
/*--------------------------------------------------------
                    Products display  
 -------------------------------------------------------*/
.product-image {
	// width: 100%;
	margin-top: 40px;
	float: left;

	@include MQ(S) {
       padding-left:10%;
	}
	@include MQ(M) {
       padding-left: 0%;
	}
	@include MQ(L) {
	   padding-left: 0%;
	}
}

.products-disp {
	// clear: right;
}

div.images {
	position: relative;
	height: 370px;
	margin-left: 23px;
}

div.images > a, div.image > a {
   	img.front {
	position: absolute;
	z-index: 1;
	transition: all 0.3s ease;
	cursor: pointer;
	}
	img.front:hover {
		opacity: 0;
	}
	img.back {
		cursor: pointer;
		position: absolute;
		z-index: -1;
	}
}

.product-details {
    margin-left: 20px;
    margin-top: 20px;
    width: 55%;
    display: inline-block;
    float: left;

    p.product-name{
	    a {
	    	font-family: $b-bold;
	        @include font-size(14px);
	    	color: $black;
	    	text-transform: uppercase;
	    }
    }

    p.product-price {
        margin-top: -20px;
    	a {
    		font-family: $b-reg;
    	    @include font-size(14px);
    	    color: lighten($gray-1, 10%);
    	    text-transform: uppercase;
    	} 
    }
}

.toggle-sizes {
	margin-top: 20px;
	display: inline-block;
	p {
		cursor: pointer;
		font-size: 13px;
		text-transform: uppercase;
		@include transform(translateX(-7px));

		&:hover {
			color: $black;
		}
	}
}

.dum {
	height: 2000px;
	background-color: $white;
}
.footer-auth {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 80px;
}
.footer {
	width: 100%;

	hr {
		margin: 150px 50px 0 50px;
	    border: 0;
	    border-top: 1px solid lighten($gray-1, 62%);
	}
	.footer-left {
		float: left;
		position: relative;

		@include MQ(S) {
			height: 30px;
			width: 100%;
		    display: inline-block;
		    text-align: center;

	    }

	    @include MQ(L) {
	    	height: 80px;
	        width: 35%;
	  	    display: inline-block;
	    }

	    @include MQ(M) {
	    	height: 80px;
	        width: 35%;
	  	    display: inline-block;
	    }

		p {
			position: absolute;
			min-width: 235px;
			@include center(xy);
			color: $black;
		}
	}

	.footer-mid {
		float: left;
		position: relative;

		@include MQ(S) {
			height: 30px;
		    width: 100%;
		    display: inline-block;
		    text-align: center;
	    }

	    @include MQ(L) {
	    	height: 80px;
	        width: 45%;
	  	    display: inline-block;
	    }

	    @include MQ(M) {
	    	height: 80px;
	        width: 45%;
	  	    display: inline-block;
	    }

		a#terms {
			position: absolute;
			@include center(y);
			color: $black;


			@include MQ(S) {
				text-align: left;
		        left: 15vw;
		    }

		    @include MQ(L) {
		        left: 5vw;
		    }

		    @include MQ(M) {
		        left: 5vw;
		    }
		}
		a#contact {
			@extend a#terms;

			@include MQ(S) {
				text-align: right;
		        right: 15vw;
		    }

		    @include MQ(L) {
		        left: 25vw;
		    }

		     @include MQ(M) {
		        left: 25vw;
		    }
		}
	}

	.footer-right {
		height: 80px;
		float: left;
		position: relative;
		overflow: hidden;
		@include MQ(S) {
		    display: none;
	    }

	    @include MQ(L) {
	        width: 20%;
	  	    display: inline-block;
	    }

	    @include MQ(M) {
	        width: 20%;
	  	    display: inline-block;
	    }
        .credit {
        	width: 100%;
        	height: 200px;
        	margin-top: 25px;
        	@include transform(translateY(0px));
        	@include transition(all .3s ease-in-out);
        	&:hover {
        		@include transform(translateY(120px));
			}
        }
	    .ts-logo {
			width: 30px;
			position: absolute;
			left: 45%;
			@include transform(translateY(0px));
			cursor: pointer;
			opacity: 0.8;
			
		}

		a { 
			position: absolute;
			height: 200px;
			@include center(x);
			color: $black;
			top: -120px;
		}
	}
}

/*--------------------------------------------------------
                          Home page  
 -------------------------------------------------------*/
.container {
	position: relative;
width: 100%;
height: 100%;
}

.cd-top {
	width: 100%;
	position: relative;
	color: $white-1;
	overflow: hidden;

	@include MQ(S) {
	  height: 80vh;
	}

	@include MQ(L) {
		  height: 100vh;
	}

	.explore {
	  	position: absolute;
	    max-width: 65px;
		width: 5vw;
		min-width: 50px;
	    @include center(x);
	    z-index: 15;

	    @include MQ(S) {
			bottom: 10%;
		}

		@include MQ(L) {
			bottom: 7%;

		}

	  	p {
		  @include font-size(30px);
		  cursor: pointer;
		  display: inline-block;
		  color: $white;

	    }

	   .svg {
		  max-width: 65px;
		  min-width: 50px;
		  width: 5vw;
	    }
	}


	/*--------------------------------------------------------
	                         Slider-1  
	-------------------------------------------------------*/

	.cd-slider {
		position: absolute;
		@include center(xy);
		width:105%;
		height: 100vh;
		z-index: 5;
		overflow: hidden;

		
		ul.slider-control {
			position: absolute;
			@include center(y);
		    right: -1%;
			@include transform(rotate(-90deg));
			z-index: 700;

			li {
				content: "";
				margin-left: 3vw;
		        display: inline-block;
		        width: 13px;
		        height: 13px;
		        background-color: $white-1;
		        border-radius: 50px;
		        position: relative;
		        cursor: pointer;

		        &.selected {
		    		width:13px;
		    		height: 13px;
		    		border-radius: 50px;
		    		background-color: transparent;
		    		border: 2px solid $white-1;
		        }
			}
		}
	}


	ul.slider-1 {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;

		li {
			list-style: none;
	  		position: absolute;
	  		top: 0;
	  		left: 0;
	  		width: 100%;
	  		height: 100%;
	  		@include transform(translateX(100%));

		  	&.selected {
		  		position: relative;
		  		@include transform(translateX(0));
		  	}

		  	&.move-left {
				/* slide hidden on the left */
				@include transform(translateX(-100%));
			}

			&.is-moving,
			&.selected {
				@include transition(transform .7s);
			}

	    }

	  	@include MQ(S) {
			@include transform(translateX(-10px));
		}

		@include MQ(M) {
			@include transform(translateX(0));
		}

		@include MQ(L) {
			@include transform(translateX(0));
		}
	}
}
 
 #white-trans {
	background-color: rgba(0,0,0,0);
    text-transform: uppercase;
    border: 1.5px solid $white-1;
    @include transition(all .3s ease-in-out);

    &:hover {
       background-color: $white-1;
       color: $black;
    }
}

#black-trans {
	background-color: rgba(0,0,0,0);
    text-transform: uppercase;
    border: 1.5px solid $black;
    @include transition(all .3s ease-in-out);
    color: $black;

    &:hover {
       background-color: $black;
       color: $white-1;
    }
}

 .quote {
 	position: relative;
 	width: 78%;
 	height: 60vh;
 	max-height: 500px;
 	// max-width: 500px;
 	margin-left: 11%;
 	background-color: $black;
 	margin-top: 70px;
 	margin-top: 10vh;
 	margin-bottom: 10vh;
    overflow: hidden;
 	.braces {
 		position: absolute;
 		@include center(x);
 		top: 8vh;
 		padding: 10px;
    
 		img {
 			@include MQ(S) {
			  width: 35px;
			}

			@include MQ(M) {
				width: 50px;
			}

			@include MQ(L) {
				width: 50px;
			}
 		}
 		border-bottom: 1.5px solid $white-1;
 	}

    .text {
    	width: 45%;
    	max-width: 580px;
    	position: absolute;
    	@include center(x);
    	top: 18vh;
    	color: $white-1;

		h3 {
			text-align: center;
		    font-family: $b-light;
		    @include MQ(S) {
		    	@include font-size(20px);
		    }
		    @include MQ(M){
		    	@include font-size(29px);
		    }
		    @include MQ(L) {
		    	font-size: 2.5vw;
		    }
		 
		    color: $white-1;
	    }

        .shop {
        	position: relative;
        	width: 100%;
        	height: 100px;

		    a {
		       position: absolute;
		       top: 20%;
		       @include center(x);
		       @include MQ(S) {
		           font-size: 13px; 
			   }
			   @include MQ(L) {
			       
			   }
		       min-width: 150px;

		       &.inverted {
	                @extend #white-trans;
		       }
		    }
	    }
    }
 }

a.button {
    @include MQ(S) {
        font-size: 13px; 
	}
	@include MQ(L) {
	       
	}
    min-width: 150px;
}

/*--------------------------------------------------------
                     Authentication
 -------------------------------------------------------*/
 .no-display {
 	display: none;
 }

 .display-block {
 	display: block;
 }

 .login {
 	background-image: url(image_path("cover.jpg"));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    min-height: 700px;

    .login-container {
         background-color: rgba(255, 255, 255, 0.6);
         background-size: cover;
         width: 100%;
         height: 100vh;
         min-height: 700px;

    }
 }

 .auth-text {
    position: absolute;
    @include center(x);
    top: 22vh;
    text-align: center;

    &.signup {
       top: 16vh;
    }

    &.reset-text {
        @include MQ(S) {
	        top: 35vh;
		}

		@include MQ(M) {
		    top: 22vh;
		}

		@include MQ(L) {
		    top: 22vh;
		}
    }

    h2 {
    	color: $black;
    	font-family: $b-bold;

    	@include MQ(S) {
	        @include font-size(35px);
		}

		@include MQ(M) {
		    @include font-size(55px);
		}

		@include MQ(L) {
		    @include font-size(38px);
		    font-size: 2.8vw;
		}
    }

    h3 {
    	color: $black;
    	font-family: $b-bold;

    	@include MQ(S) {
	        @include font-size(28px);
	        font-size: 7.5vw;
		}

		@include MQ(M) {
		    @include font-size(55px);
		}

		@include MQ(L) {
		    @include font-size(38px);
		    font-size: 2.8vw;
		}
    }

    h5 {
    	color: $red-1;
    	font-family: $b-light;

    }

 }
 .auth-box {
    position: absolute;
    @include center(xy);
    text-align: center;

    @include MQ(S) {
        width: 75%
	}
	@include MQ(L) {
	    width: 25%;
	}
	@include placeholder($black);
	#black-btn {
		padding-left: 35px;
		padding-right: 35px;
	}

 }

input#email-field, input#password-field, input#lname_field, input#fname_field {
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid $black;
  box-shadow: none;
  color: $black;
  @include font-size(15px);
}

#black-btn {
	background-color: $black;
    text-transform: uppercase;
    margin-top: 5vh;
    @include transition(all .2s ease-in-out);

    &:hover {
       background-color: rgba(0,0,0,.8);
    }
} 

.timefade {
	opacity: 0;
	@include transition(opacity 1.5s ease-in-out);

	&.show {
		opacity: 1;
	}
}

.auth-links {
	position: absolute;
	@include center(x);
	bottom: -7px;
	width: 100%;
	a {
		color: $black;
		font-family: $b-reg;
		font-size: 15px;
		&:hover {
			color: lighten($black, 10%);
		}
	}
}

.large-v {
	@include MQ(S) {
	  display: none;
	  visibility: hidden;
	}

	@include MQ(M) {
		  display: block;
		  visibility: visible;
	}

	@include MQ(L) {
		  display: block;
		  visibility: visible;
	}
}

.small-v {
	@include MQ(S) {
	    display: block;
	    visibility: visible;
	}

	@include MQ(M) {
		display: none;
		visibility: hidden;
	}

	@include MQ(L) {
		display: none;
		visibility: hidden;
	}
}

/*--------------------------------------------------------
                    Product view  
 -------------------------------------------------------*/
.row {
	&.product {
	   padding-top: 160px;
	}
}

.product-view {
	position: relative;
	@include MQ(S) {
	  min-height:350px;
	}

	@include MQ(L) {
		min-height: 520px;
	}
}
.product-detail {
	min-height: 520px;
	padding-left: 20px;

.price {
	padding-top: 10%;
	position: relative;
}
.product-introduction h2 {
	color: lighten($black, 10%);
}
.product-introduction, .price, .cart-form {

 	h2 {
 		position: relative;
 		text-transform: uppercase;
 	    font-size: 30px;
 	    font-family: $b-med;
 	}

    p {
 		color: lighten($black, 40%);
 	    font-size: 22px;
 	}
}

.cart-form {
   min-height: 25%;
   #black-btn {
   	  margin-left: 20px;
   	  font-size: 17px;
   }
   p#no-stock {
   	display: block;
   }
}

.description {
    p {
    	color: lighten($black, 40%);
    	font-size: 22px;
 	    font-family: $b-light;
    }
}

}
.prod {
	position: absolute;
	img.detail {
		position: absolute;
		@include center(xy);
	} 
}
.sm {
	left: 0;
	border: 1px solid lighten($black, 80%);
  	width: 23%;
 	height: 32%;
}
.one {
	top: 0;
	overflow: hidden;
}

.two {
	@include center(y);
	overflow: hidden;
}

.three {
	bottom: 0;
	overflow: hidden;
}

.bg {
	right: 0px;
	width: 75%;
	height: 100%;
	overflow: hidden;
	&:hover {
		span {
			opacity: .6;
		}
	}
}

.recommendations {
	position: relative;
	padding-top: 100px;
	p {
		color: lighten($black, 40%);
 	    font-size: 22px;
	}

	hr {
		margin: -35px 0 0 170px;
	}
}


.recommendations, .reco {
	@include MQ(S) {
		display: none;
		visibility: hidden;
	}

	@include MQ(L) {
		display: block;
		visibility: visible;
	}
}

.reco {
	padding-top: 50px;
	.product-recos {
		position: relative;
		.image {
			position: relative;
			margin-left: 10%;
			width: 80%;
			height: 265px; 
		}
	}
}

.hashed {
	color: lighten($black, 50%);
	span#promo {
		color: lighten($black, 10%);
	}
&:before {
	content: "";
	position: absolute;
	@include center(y);
	background-color: lighten($black, 50%);
	width: 75px;
	height: 2px;
	padding-left: 70px;
}
}
ul.unstyled {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;

li {
	display: inline-block;
	height: 40px;
	position: relative;

	&.no-stock {
		display: none;
	}

	.size-s:after {
        content: "S";
        font-family: $b-reg;
        @include font-smoothing;
        color: $black;
        font-size: 20px;
        position: absolute;
        @include center(xy);

    }
    .size-m:after {
    	@extend .size-s:after;
    	content: "M"
    }
    .size-l:after {
    	@extend .size-s:after;
    	content: "L"
    }
    .size-xl:after {
    	@extend .size-s:after;
    	content: "XL"
    }
    .size-xxl:after {
    	@extend .size-s:after;
    	content: "XXL"
    }
}

}

.sizes {
	position: absolute;
	bottom: 0;
	left: -8px;
	z-index: 1000;
	overflow: hidden;

	&.to-back {
		z-index: 0;
	}

}

 ul.unstyled-store {
 	position: relative;
 	margin: 0;
 	padding: 0;
 	list-style-type: none;
    
    &.hide-menu {
    	@include animation(animate-down 0.4s, ease);
		@include transform(translateY(350px));
    }

    &.show-menu {
    	@include animation(animate-up 0.4s, ease);
    	@include transform(translateY(-8px));
    }

    @keyframes animate-up {
       0% {
           @include transform(translateY(350px));
        }
       100% {
           @include transform(translateY(-8px));
       }
    }

	@keyframes animate-down {
       0% {
           @include transform(translateY(-8px));
       }
       100% {
       	   @include transform(translateY(350px));
       }
    }


    li {
    	height: 50px;
    	position: relative;
		
		.add-cart-store {
			margin-top: 10px;
			margin-left: 8px;
			width: 247px;
			height: 100%;
			background-color: $black;
			border: none !important;
			text-transform: uppercase;
			color: $white-1;
			cursor: pointer;
		}

    	&.no-stock {
    		display: none;
    	}
 
    	.size-s:after {
            content: "SMALL";
            font-family: $b-reg;
            @include font-smoothing;
            color: $black;
            font-size: 14px;
            position: absolute;
            @include center(xy);

        }
        .size-m:after {
        	@extend .size-s:after;
        	content: "MEDIUM";
        }
        .size-l:after {
        	@extend .size-s:after;
        	content: "LARGE";
        }
        .size-xl:after {
        	@extend .size-s:after;
        	content: "X-LARGE";
        }
        .size-xxl:after {
        	@extend .size-s:after;
        	content: "2X-LARGE";
        }
        .sold-out:after {
        	@extend .size-s:after;
        	content: "SOLD OUT";
        	color: $white
        }
    }

 }

  :not(#foo) .styled-radio-btn-store {
 	position: absolute;
 	width: 100%;
    height: 100%;
 	opacity: 0;
 	z-index: 200;
 	cursor: pointer;

 	& + label {
 		position: relative;
 		cursor: pointer;
 		padding: 0;

 	}

 	& + label:before {
 		content: "";
        display: inline-block;
        vertical-align: text-top;
        width: 247px;
        height: 50px;
        background: rgba(255, 255, 255, .6);
        margin-top: 8px;
 	}

 	&:focus + label:before,
 	&:hover + label:before,
 	&:checked + label:before {
 		background: $black;
 	}

 	&:focus + label:after,
 	&:hover + label:after,
 	&:checked + label:after {
 		color: $white-1;
 	}

 	&#sold-out {
 		& + label:before {
        background: rgba(226, 32, 32, .6);
 	}
		&:focus + label:before,
	 	&:hover + label:before,
	 	&:checked + label:before {
	 		background: rgba(226, 32, 32, .6);
	 	}

	 	&:checked + label:before {
	 		background: rgba(226, 32, 32, .6);
	 	}

	 	&:focus + label:after,
	 	&:hover + label:after,
	 	&:checked + label:after {
	 		// color: $red-1;
	 	}
 	}
 }


 :not(#foo) .styled-radio-btn {
 	position: absolute;
 	width: 100%;
    height: 100%;
 	opacity: 0;
 	z-index: 200;
 	cursor: pointer;

 	& + label {
 		position: relative;
 		cursor: pointer;
 		padding: 0;
 	}

 	& + label:before {
 		content: "";
        display: inline-block;
        vertical-align: text-top;
        width: 40px;
        height: 35px;
        border: 2px solid $black;
        background: $white;
 	}

 	&:focus + label:before,
 	&:hover + label:before,
 	&:checked + label:before {
 		background: $black;
 	}

 	&:focus + label:after,
 	&:hover + label:after,
 	&:checked + label:after {
 		color: $white-1;
 	}
 }
 .quantity {
 	position: relative;
 	padding-top: 3px;
 	#quantity {
 		position: relative;
 		border: 2px solid $black;
 		width: 60px;
 		height: 35px;
 	}
 } 
 
 ul.more {
 	list-style: none;
 	li {
 		list-style: none;
 		position: absolute;
 		// width: 100%;
 		opacity: 0;
 		left: 0px;
 		overflow: hidden;
 		@include transition(opacity .3s ease-in-out);
		
 		&.visi {
 			opacity: 1;
 		}
 	}
 }


 span.analog {
 	position: absolute;
 	@include center(y);
 	z-index: 100;
 	right: 10%;
 	width: 40px;
 	height: 40px;
 	border-radius: 50px;
 	background-color: $white-1;
 	cursor: pointer;
 	@include transition(opacity .3s ease-in-out);
 	@include MQ(S) {
      	opacity: .6;
    }

    @include MQ(L) {
    	opacity: 0;
    }
    
 	&:before {
 		position: absolute;
 		@include center(xy);
 		content: "";
 		width: 15px;
 		height: 2px;
 		background-color: $black;
 	}
 }
/*--------------------------------------------------------
                    Home page photo Collage
 -------------------------------------------------------*/
 .collage {
	position: relative;
	width: 1100px;
	width: 80vw;

   .collage-container {
   	  // margin-left: 5%;
   	  width: 100%;
   	  height: 80%;
   	  .top, .btm {
   	  	width:100%;
   	  	position: relative;
   	  	overflow: hidden;
   	  	background-color: $black;
   	  }
   	  .social-link {
        text-align: right;
        @include MQ(S) {
              padding-right: 30px;
              padding-top: 50px;
              padding-left: 50px;
		    }

		    @include MQ(M) {
		      padding-right: 30px;
              padding-top: 50px;
              padding-left: 50px;
		    }

		    @include MQ(L) {
		    	padding-right: 30px;
                padding-top: 50px;
                padding-left: 50px;
		    }
        p {
        	color: $white-1;
        	font-family: $b-light;
        	@include font-size(26px);
        }

   	  }
   	  #jackets, #longs, #tees, #hoodies, #fcbk, #insta {
   	  	position: relative;
   	  	
   	  	overflow: hidden;
        @include transition(all .5s ease-in-out);

        @include MQ(S) {
            width: 100%;
	   	  	height: 100%;
	   	  	margin-top: 0;
	   	  	float: left;
	   	  	display: block;
	    }

	    @include MQ(M) {
	        width: 33.3%;
	   	  	height: 100%;
	   	  	margin-top: 0;
	   	  	float: left;
	   	  	display: inline-block;
	    }

	    @include MQ(L) {
	    	width: 33.3%;
	   	  	height: 100%;
	   	  	margin-top: 0;
	   	  	float: left;
	   	  	display: inline-block;
	    }

   	  	&:hover {
   	  		.hov {
   	  			background-color: rgba(255,255,255,.6);
   	  		}
        	h2 {
        		opacity: 1;
        		@include transform(translateX(-50%) translateY(-50%));
        	}

        }

        h2 {
        	position: absolute;
        	z-index: 110;
        	@include center(xy);
        	color: $black;
        	text-transform: uppercase;
        	opacity: 0;
        	font-family: $b-bold;
        	@include font-size(18px);
        	@include transform(translateX(-50%) translateY(10px));
        	@include transition(all .5s ease-in-out);
        }

   	  	.hov {
   	        position: absolute;
   	        top: 0;
   	        left: 0;
   	        z-index: 100;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0);
            @include transition(background-color .3s ease-in);
        }
   	  }
   }
}

.hoodie {
	 	width: 78%;
	 	min-height: 70vh;
	 	position: relative;
	 	margin-top: 100px;
	 	margin-left: 11%;
	 	background-image: url(image_path("skate.jpg"));
	 	background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

	    p {
	        position: absolute;
	    	z-index: 110;
	    	@include center(y);
	    	@include MQ(S) {
                @include font-size(17px);
		    }

		    @include MQ(M) {
		        @include font-size(26px);
	    	    font-size: 2vw;
		    }

		    @include MQ(L) {
		    	@include font-size(26px);
	    	    font-size: 2vw;
		    }
	    	font-family: $b-light;
	    	color: $white-1;
	    	text-align: center;
	    	margin-left: 15%;
	    	margin-right: 15%;
	    	
	    }

	    a {
	    	position: absolute;
	    	z-index: 100;
	    	@include center(x);
	    	
	    	@include MQ(S) {
                top: 56vh;
		    }

		    @include MQ(M) {
		        top: 50vh;
		    }

		    @include MQ(L) {
		    	top: 50vh;
		    }
	    }
}

.about {
	width: 100%;
	position: relative;
	margin-top: 100px;

	.background-container {
		width: 100%;
		min-height: 73vh;
		max-height: 73vh;
		overflow: hidden;
		position: relative;
		

		.text-l {
			position: absolute;
			width: 40%;
			min-height: 500px;

			p {
				color: $black;
        	    font-family: $b-light;
			}
        	
		    @include MQ(S) {
		    	p {
		    		@include font-size(16px);
		    	}
               
               top: 6px;
               @include center(x);
               text-align: center;
               margin-right: 2%;

		    }

		    @include MQ(M) {
		    	p {
		    		@include font-size(30px);
		    	}
		    	
		    	@include center(y);
		    	text-align: left;
		    	left: 50%;
		        margin-right: 5%
		    }

		    @include MQ(L) {
		    	p {
		    		@include font-size(30px);
		    		font-size: 2vw;
		    	}
		    	top: 55vh;
		    	text-align: left;
		    	left: 50%;
		        margin-right: 5%;
		    }

        }

        .emb-image {
        	position: absolute;

        	@include MQ(S) {
              @include center(x);
              width: 60%;
              top: 250px;
		    }

		    @include MQ(M) {
		    	@include center(y);
		    	width: 30%;
		    	left: 10%
		    }

		    @include MQ(L) {
		    	@include center(y);
		    	width: 30%;
		    	left: 10%;
		    }
        }
	}
}

.icon-container {
	position: relative;
	width: 100%;
	
	@include MQ(S) {
      height: 150px;
    }

    @include MQ(M) {
    	height: 50px;
    }

    @include MQ(L) {
    	height: 50px;
    }

	 img {
	 	float: right;
	 	max-width: 40px;
	 }
}


/*--------------------------------------------------------
                        Cart
-------------------------------------------------------*/
div.progress-bar {
	padding-top: 100px;
	position: relative;
	width: 94%;
	margin-left: 3%;
	@include MQ(S) {
      display: none;
	}

    @include MQ(M) {
      display: none;
	}

	@include MQ(L) {
       display: block;
	}
}

ul.prog-bar {
	list-style: none;
	li {
		position: relative;
		width: 24%;
        display: inline-block;
        font-family: $b-reg;
        text-transform: uppercase;
        background-color: lighten($black, 70%);
        color: $white-1;
        @include font-size(15px);
        height: 44px;
        padding-top: 10px; 

        &.frt {
        	text-align: center;
        }

        &.mid, &.frt {
	        &:before {
	        	content: "";
	        	position: absolute;
	        	right: -44px;
	        	z-index: 10;
	        	width: 0;
				height: 0;
				top: 0;
				border-top: 22px solid transparent;
				border-left: 44px solid lighten($black, 70%);
				border-bottom: 22px solid transparent;
	        }
	    }

        &.mid, &.bck {
        	padding-left: 7%;
        	&:after {
	        	content: "";
	        	position: absolute;
	        	left: 0;
	        	z-index: 5;
	        	width: 0;
				height: 0;
				top: -4px;
				border-top: 26px solid transparent;
				border-left: 52px solid $white-1;
				border-bottom: 26px solid transparent;
	        }
        }

        &#active {
           background-color: lighten($black, 45%);
           &:before {
        	 border-left: 45px solid lighten($black, 45%);
           }
        }
	}
}

.view-small {
    @include MQ(S) {
       display: block!important;
	}
	@include MQ(M) {
       display: none!important;
	}
	@include MQ(L) {
	  display: none!important;
	}
}

.view-large {
    @include MQ(S) {
       display: none!important;
	}
	@include MQ(M) {
       display: block!important;
	}
	@include MQ(L) {
	  display: block!important;
	}
}

h3.view-small {
	font-family: $b-bold;
	font-size: 25px;
	text-transform: uppercase;
	padding-top: 100px;
	text-align: center;

}

ul.cart-row {
	list-style: none;

	li {
        text-align: center;
        color: lighten($black, 35%);
        display: inline-block;
      
        .parallel, .lower {
        	position: relative;
   
        	.text {
               h3 {
               	  text-transform: uppercase;
               	  font-family: $b-med;
               	  @include font-size(17px);
               	  color: $black;
               }

               p {
                  font-family: $b-reg;
               	  @include font-size(17px);
               }

               a {
                  font-family: $b-light !important;
               }

        	}
        }

        &#total {
        	width: 87%;
        	@include font-size(20px);
        	font-family: $b-med;
        	color: $black
	    }

        @include MQ(S) {
        	width: 100%;
           &:first-child {
        	   text-align: center;
        	   &.img-crt {
                   display: inline-block;
        	   }
           }
           display: none;
	       width: 100%;
	        .parallel {
	        	width: 100%;
	        	display: none;
	        	.text {
	               position: relative;
	               text-align: left;
	           }
	        }

	        .lower {
	        	width: 100%;
	        	.text {
	               position: relative;
	               text-align: center;
	           }
	        }
		}

		@include MQ(M) {
			width: 12%;
	        &:first-child {
        	    width: 62%;
        	    text-align: left;
            }

            display: inline-block;
            .parallel {
	        	width: 40%;
	        	display: inline-block;
	        	.text {
	               position: absolute;
                   left: 5px;
                   text-align: left;
                   @include center(y);
	           }
	        }
		}

		@include MQ(L) {
		    &:first-child {
        	    width: 62%;
        	    text-align: left;
            }
            width: 12%;
            display: inline-block;
            .parallel {
	        	width: 40%;
	        	display: inline-block;
	        	.text {
	        	   position: absolute;
	        	   text-align: left;
                   left: 5px;
                   @include center(y);
	           }
	        }
		}

    }

    &.cart-header  {
         li {
         	font-family: $b-med;
         	@include font-size(15px);

         }
    }
}

p {
    &#questions {
		@include font-size(18px);
	    font-family: $b-light;
	    @include MQ(S) {
	       margin: 30px;
		}
		@include MQ(M) {
	       margin: 0;
		}
		@include MQ(L) {
		   margin: 0;
		}

	}
	&#alert {
		color: $red-1;
	}

	&#success {
		color: $green-2;
	}
}

.checkout {
	min-height: 100px;
	position: relative;
    a {
    	@include MQ(S) {
    	    position: absolute;
    	    @include center(xy);
        }
        @include MQ(M) {
    	    position: relative;
    	    left: 10%;
        }
        @include MQ(L) {
    	    position: relative;
    	    left: 10%;
        }
    }

}
.empty-cart {
	margin-top: 100px;
	width: 100%;
	height: 150px;
	background-color: $black;
	position: relative;
	h3 {
		position: absolute;
		@include center(xy);
		text-transform: uppercase;
		color: $white-1;
		z-index: 1;
		text-align: center;
	}
}
/*--------------------------------------------------------
                    Order Delivery
-------------------------------------------------------*/

.order-left, .order-right {
	position: relative;
	float: left;
	display: inline-block;
	h3, p, .continue, hr {
		margin-left: 15px;
	}
}

.order-left {
	@include MQ(S) {
      width: 100%;
      margin-left: 0;
      padding-top: 100px;
	}

    @include MQ(M) {
      width: 60%;
      margin-left: 3%;
      padding-top: 0;
	}

	@include MQ(L) {
       width: 60%;
       margin-left: 3%;
       padding-top: 0;
	}

	min-height: 100vh;

	label.radio {
		font-family: $b-reg;
        @include font-size(20px);
	}

}

.order-right {
	@include MQ(S) {
        width: 90%;
	}

    @include MQ(M) {
        width: 35%;
	}

	@include MQ(L) {
        width: 30%;
	}

	h3 {
		margin-left: 40px;
		padding-bottom: 10px;
	}
}

ul.inline {
	list-style: none;
	li.out {
		width: 100%;
		ul {
			border-top: 1px solid lighten($gray-1, 62%);
		}
	}
	li.in {
		font-family: $b-reg;
        @include font-size(20px);
        color: lighten($black, 35%);
		display: inline-block;
		padding: 10px 10px 10px 10px;
		&:first-child {
    	    width: 70%;
        }
	}
}

ul.payments {
	list-style: none;
	li {
		display: inline-block;
		padding: 40px 20px 10px 0px;
	}
}

/*--------------------------------------------------------
                        Blog
 -------------------------------------------------------*/

 .blog-header {
 	width: 100%;
 	position: relative;
 	height: 75vh;
 	margin-bottom: 100px;

 	.image-contain {
 		width: 100%;
 	    position: relative;
 	    height: 75vh;
 	    overflow: hidden;
 	}

 	img.head {
 		@include MQ(S) {
	        position: relative;
	        height: 100%;
	    }

		@include MQ(L) {
	        position: absolute;
	        width: 100%;
	        @include center(xy);
	        z-index: 10;
	        height: auto;
		}
      
 	}
 	h3 {
 		position: absolute;
        @include center(xy);
        z-index: 30;
        @include font-size(40px);
        font-size: 3vw;
        color: $white-1;
        font-family: $b-med;
        text-transform: uppercase;
        text-align: center;

    	@include MQ(S) {
	       font-size: 5vw;
	    }

		@include MQ(L) {
	        font-size: 3.5vw;
		}
 	}

 	p {
 		position: absolute;
        @include center(x);
        bottom: 20vh;
        z-index: 30;
        @include font-size(20px);
        color: $white-1;
        font-family: $b-reg;

        @include MQ(S) {
	       font-size: 5vw;
	    }

		@include MQ(L) {
	        font-size: 1.8vw;
		}

        &#author {
        	bottom: -105px;
        	font-family: $b-med;
        	color: lighten($black, 35%);
        	@include font-size(20px);
        }

        &#job {
        	bottom: -130px;
        	font-family: $b-reg;
        	color: lighten($black, 50%);
        	@include font-size(20px);
        }
 	}

 	div.avatar {
 		position: absolute;
 		@include center(x);
 		bottom: -50px;
        z-index: 30;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid $white-1;
        .avatar-contain {
        	position: relative;
        	width: 100px;
            height: 100px;
        	border-radius: 50%;

        	img {
        		position: absolute;
                @include center(xy);
        		width: 100%;
        		z-index: 25;
        	}
        }


 	}

 	&:before {
 		position: absolute;
 		content: "";
 		width: 100%;
 		height: 75vh;
 		top:0;
 		z-index: 26;
 		background-color: rgba(0,0,0,.4);
 	}
 }

 .gray {
 	background-color: $gray-1;
 	height: 300px;
 }

  .black {
 	background-color: $black;
 	height: 300px;
 }
 .blog-list {
 	width: 100%;
 	hr {
 		width: 90%;
 		margin-left: 5%;
 		margin-top: 0;
 		padding: 0;
 	}
 }

 .blog-left, .blog-right {
	position: relative;
	float: left;
	display: inline-block;
}

.blog-left {
	height: 300px;
	position: relative;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	@include transition(all 1.5s ease-in);
	@include MQ(S) {
        width: 100%;
        margin-left: 0;
    }

    @include MQ(M) {
        width: 30%;
        margin-left: 3%;
	}

	@include MQ(L) {
        width: 30%;
        margin-left: 3%;
	}
	img.loupe {
		position: absolute;
		@include center(x);
		top: 40%;
        z-index: 30;
        @include transition(all .3s ease-in);
        opacity: 0;
        width: 25px;

	}
	&:before {
		@include center(x);
		top: 0;
		content: "";
		position: absolute;
        width: 105%;
        border-top: 20px solid $white;
        border-bottom: 55px solid $white;
        border-right: 35px solid $white;
        border-left: 35px solid $white;
        height: 100%;
        z-index: 25;
        background-color: rgba(255,255,255,0);
        @include transition(all .3s ease-in);
        cursor: pointer;
	}

	&:hover {
         padding: 0;
         &:before {
         	background-color: rgba(255,255,255,.5);
         }
         img.loupe {
         	opacity: 1;
         }
	}
}

.blog-right {

	@include MQ(S) {
        padding: 0px 20px 20px 20px;
	}

	@include MQ(L) {
        padding: 15px 20px 20px 20px;
	}
	
	a#black-btn {
		margin: 0;
	}
	hr {
		width: 100%;
		padding: 0;
		margin: 0; 
	}
	p {
		margin: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		color: lighten($black, 50%);

		&.author {
			font-family: $b-med;
			color: lighten($black, 35%);
			width: 120px;
			@include font-size(20px);
			float: left;
		}
	}

	h3 {
		font-family: $b-med;
		padding: 0;
		margin: 0;
		color: $black;
	}

	@include MQ(S) {
        width: 100%;
	}

    @include MQ(M) {
        width: 62%;
	}

	@include MQ(L) {
        width: 62%;
	}
}

.text-content {
	padding: 50px 20px 20px 20px;
	p {
		@include font-size(20px);
		text-align: center;
	}
	
}

.author-dets {
	width: 100%;
}
ul#social {
	padding-top: 10px;
	float: left;
	width: 150px;
	list-style: none;
	display: inline-block;
	li {
		display: inline-block;
		width: 35px;
		img {
			width: 18px;
		}
	}
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 100;

    @include MQ(S) {
        left: 10px;
	}

	@include MQ(L) {
        left: 50px;
	}

    h5 {
    	@include font-size(20px);
    	font-family: $b-reg;
    	color: $white-1;
    }
}

#heart {
	position: absolute;
    bottom: 25px;
    z-index: 30;
    opacity: .6;

    @include MQ(S) {
        right: 20px;
	}
	
	@include MQ(L) {
        right: 50px;
	}

    @include transition(opacity 0.2s ease-in );
    &:hover {
    	opacity: 1;
    }
    a {
    	color: $white-1;
    }
    span {
    	color: $white-1;
    }
}

span.heart {
	position: relative;
	width: 100px;
    height: 90px;
   &:before
   , &:after {
        position: absolute;
        content: "";
        left: -18px;
        top: 3px;
        width:10px;
        height: 18px;
        background: $white-1;
        -moz-border-radius: 50px 50px 0 0;
        border-radius: 50px 50px 0 0;
        @include transform(rotate(-45deg));
        -o-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
   }
   &:after {
   	left: -28px;
   	@include transform(rotate(45deg));
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
   }
}

/*--------------------------------------------------------
                        Comments
 -------------------------------------------------------*/
#like {
	margin-left: 30px;
	margin-top: 30px;
	color: $black;
	&:before
   , &:after {
        background: $black;
   }
   &:after {
   }

}
h4#comments-head {
	padding: 20px;
	font-family: $b-med;
	color: $black;
}

ul.comments {
 	list-style: none;
 	@include MQ(S) {
        width: 300px;
        width: 100vw;
	}
	
	@include MQ(L) {
        width: 500px;
	}
 	
 	li {
 		padding-top: 15px;
 		display: inline-block;
 		position: relative;
 		width: 100%;
 		.comment-left {
 			float: left;
 			display: inline-block;
 			width: 80px;
 			img {
 				width: 60px;
 			}
 		}
 		.comment-right {
 			float: left;
 			display: inline-block;

 			@include MQ(S) {
		        width: 200px;
			}
			
			@include MQ(L) {
		        width: 400px;
			}
 			

 			p {
 				padding-bottom: 0;
 				margin-bottom: 0;
 				padding-top: 0;
 				margin-top: 0;
 				@include font-size(18px);
 				color: lighten($black, 35%);
 				&#full-name {
 					font-family: $b-reg;
        	        @include font-size(22px);
 				}
 				&#content {
 					font-family: $b-reg;
        	        color: $black;
        	        padding-bottom: 10px;
 				}
 				&#actions {
 					font-family: $b-light;   
 					a {
 						color: lighten($black, 35%);
 					}
 				}
 			}

 			#comment_content {
				border: none;
				box-shadow: none;
				background-color: $white-1;
				margin-top: 12px;
				max-width: 300px;
				font-family: $b-reg;
				@include font-size(20px);
			}

 		}

 		&#submit-comment {
 			padding-left: 80px;
 			@include transition(all 0.3s ease-in );

 			&.disabled {
 				opacity: 0;
 				display: none;
 			}

 			&.enable {
 				display: block;
 				opacity: 0;
 				@include transform(translateY(-40px));
 			}

 			&.opaque {
 				opacity: 1;
 				@include transform(translateY(0));
 			}

 		}
 	}
}
// pagination
.page {
	width: 100%;
	position: relative;
	.pagination {
		position: absolute;
		@include center(x);
		a, em, span.disabled {
			color: $black;
			@include font-size(20px);
			padding: 10px;
			@include transition(all 0.3s ease-in );
			&:hover {
				color: lighten($black, 50%);
			}
		}
		em {
			color: lighten($black, 50%);
		}
	}
}

// Social sharing-buttons
.social-share-button-facebook {
	width: 33px;
	display: inline-block;
	height: 33px;
	margin-right: 10px;
	opacity: .6;
    background: url("facebook-circle.svg") no-repeat;
    @include transition(opacity 0.2s ease-in );
    &:hover {
    	opacity: 1;
    }
}

.social-share-button-twitter {
	@extend .social-share-button-facebook;
    background: url("twitter-circle.svg") no-repeat;
}

.social-share-button-renren {
	@extend .social-share-button-facebook;
    background: url("renren.svg") no-repeat;
}

.social-share-button-tumblr {
	@extend .social-share-button-facebook;
    background: url("tubmlr.svg") no-repeat;
}
// vimeo video container
 .video-vimeo {
 	position: relative;
 	width: 100%;
 	

 	@include MQ(S) {
        height: 400px;
	}

    @include MQ(M) {
        height: 650px;
	}

	@include MQ(L) {
        height: 650px;
	}

 	iframe {
 		position: absolute;
 		@include center(xy);
        background-color: $black;

        @include MQ(S) {
	        width: 100vw;
        	height: 300px;
		}

	    @include MQ(M) {
	        width: 1050px;
        	height: 590px;
		}

		@include MQ(L) {
	        width: 1050px;
        	height: 590px;
		}

 	}
 }
/*--------------------------------------------------------
                        About
 -------------------------------------------------------*/
 .we-are, .events {
 	padding-top: 200px;
 	margin-bottom: 100px;
 	width: 80%;
 	min-width: 200px;
 	p {
        @include font-size(25px);
        font-family: $b-light;
        color: $black;
        padding-left: 10px;
 	}
 }

 /*--------------------------------------------------------
                        About
 -------------------------------------------------------*/

 .container-contact, .we-are, .events {
 	h1 {
    	padding: 100px 10px 10px 10px;
    	color: $black;
 		font-family: $b-bold;
 		padding-left: 10px;

		@include MQ(S) {
	        @include font-size(43px);
		}

	    @include MQ(M) {
	        @include font-size(65px);
		}

		@include MQ(L) {
	        @include font-size(65px);
		}
    }
 }

 .container-contact {
 	width: 100%;
 	height: 100vh;
 	min-height: 800px;
 	background-image: url(image_path("contact.jpg"));
 	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    a, a:hover {
    	color: $black;
    	text-decoration: underline;
    }


    p {
    	@include font-size(25px);
        font-family: $b-light;
        color: $black;
        padding: 10px;
        &.address {
        	margin-top: 100px;
        }
    }
 }

 div.payment-container {
 	margin-left: 20px;
 }
 
div#dropin {
	min-height: 120px;
}
.loader {
	position: fixed;
	@include center(xy);
	z-index: 1000;
	&.hide {
		display: none;
	}
}

span#on-sale {
	text-align: center;
	padding: 0px 10px 0px 10px;
	color: $white-1;
	background-color: $red-1;
	font-size: 13px;
	border-radius: 50px;
	margin-left: 10px;
}

.about-team {
	position: relative;
	background-image: url(image_path("team.jpg"));
	width: 100%;
 	height: 100vh;
 	min-height: 800px;
 	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .text-team {
    	width: 300px;
    	min-height: 500px;
    	max-height: 500px;
    	height: 70vh;
    	position: absolute;
    	background-color: $black;
    	color: $white-1;
    	@include center(xy);
    	padding: 30px;
    	font-family: $b-light;
    	p {
			@include font-size(20px);
    	}
    }
}