
/*-------global styles-------*/

body {
	font-family: $b-reg;
	@include font-smoothing;
	margin: 0; 
	overflow-x: hidden;

    &#public {
       background-color: $white-1;
       min-height: 700px;
    }
}

.site {
  opacity: 0;
  @include transition(opacity .8s ease-in-out);

  &.show {
    opacity: 1; 
  }
}

.up-case {
  text-transform: uppercase;
}
.dark-txt {
  color: #3D3D3D;

}

.cd-main-content {

	.show {
		@include transform(translateX(200px));
        &.slide-left {
           @include move-left(0px);	
        }
        &.slide-right {
           @include move-right(200px);	
        }
	}
}

a,button {
	&.dark {
		background-color: $gray-2;
		border-color: darken($gray-2, 5%);
		&:hover {
	        border-color: darken($gray-2, 5%);
	        background-color: darken($gray-2, 5%);
		}
	}
}

/* ---float---*/

.float-left {
	float: left;
}

.float-right {
	float: right;
}
/*----alignment---*/
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center; 
}

/*--------------------------------------------------------
                    Side navigation
 -------------------------------------------------------*/
.cd-side-nav {
	position: fixed;
	z-index: 1;
	left: -18px;
	top: 0;
	background-color: $gray-1;
	visibility: hidden;
	opacity:0;
	max-height: 100vh;
	min-height: 100vh;
	overflow: hidden;
	font-family: $b-light;
	width: $sidebar-width-L;
	@include font-smoothing;

    &.nav-is-hidden {
        @include animation(animate-nav-out 0.4s, ease);
        transform: translate(-220px,0);

    }
    &.show-nav {
    	@include animation(animate-nav-in 0.4s, ease);
        transform: translate(0,0);
    }

    @keyframes animate-nav-out {
       0% {
        transform: translate(0,0);
       }
       100% {
        transform: translate(-220px,0);
       }
    }

    @keyframes animate-nav-in {
       0% {
        transform: translate(-220px,0);
       }
       100% {
        transform: translate(0,0);
       }
    }

	&.nav-is-visible {
		opacity: 1;
		visibility: visible;
		-webkit-overflow-scrolling: touch;
		@include transition(opacity .2s 0s, visibility 0s 0s);
		max-height: none;
		box-shadow: 0 2px 10px rgba(#000, .2);
	}

	> ul {
		height: 100vh;
		&:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0px;
		}
	}

	a {
		display: block;
		padding: 1em 5%;
		position: relative;
		color: $white-1;
		@include font-size(16px);
		@include transition(all 0.2s ease-in-out);
	}

	> ul > li > a {
		padding:  8px 8px 8px 30px;
		text-align: left;
	}

	> ul > li{
        list-style: none;
        border-bottom: 1px solid $gray-2;
        &.main {
        	min-height: 90px;
        	position: relative;
        	background-color: darken($gray-1, 5%);
        	margin-top: -10px;
        	> img {
        		position: absolute;
        		right: 10px;
        		top: 10px;
        		max-width: 35px;
        		cursor: pointer;
        	}
        }
        &.home {
        	position: absolute;
        	left:-2px;
        	bottom: -2px;
        	width: 222px;
        	background-color: $gray-2;
        	padding-left: 20px;

        	> a:hover {
        		background-color: lighten($gray-2, 3%);
        	}
        }
	}
	 > a {
		padding-left: calc(5% + 24px);
		border-bottom: 1px solid $gray-2;
	}

	.active > a {
		/* current page */
		box-shadow: inset 3px 0 0 $blue-1;
		background-color: darken($gray-1, 5%);
	}

    @include MQ(L) {
    	@include transform(translateX(0));
    	width: $sidebar-width-L;
    	> ul {
    		padding: 0.6em 0;
    	}
    	> ul > li:hover > a {
    		background-color: darken($gray-1, 5%);
    		width: 100%;
    		color: $white-1;
    	}
    }
}
.cd-header {
	position: relative;
	background-color: $white-1;
	height: 90px;
	color: $gray-1;
	margin-top: -4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    h3 {
    	margin-left: 60px;
    	padding-top: 25px;
    }
    .header-btn {
    	position: absolute;
    	@include center(y);
      right: 300px;
      text-transform: uppercase;
    }
    .locale-btn {
     @extend .header-btn;
     right: 500px;
    }
    &.hide-header {
       @include animation(animate-header 0.5s ease);
       transform: translate(200px,-60px);
    }
}

#pr-icon {
	position: absolute;
	width: 35px;
	left: 20px;
	top: 5px;
	margin-top: 20px;
}

#ds-icon {
    @extend #pr-icon;
    width: 55px; 
    top: 0px;
}

#ar-icon {
    @extend #pr-icon;
    width: 45px; 
    top: 0px;
}

#or-icon {
    @extend #pr-icon;
    width: 53px; 
    top: 2px;
}

#ct-icon {
    @extend #pr-icon;
    width: 40px; 
    top: 2px;
}

#ad-icon {
    @extend #pr-icon;
    width: 55px; 
    top: -10px;
}

h3 {
   &.mar-left-80 {
      margin-left: 80px;
   }

   &.mar-left-65 {
      margin-left: 65px;
   }

}
// Menu trigger icon
#menu-trigger {
    position: absolute;
    width: 32px;
    top: 10px;
    right: 3vw;
    cursor: pointer;
    margin-top: 20px;
}

/*--------------------------------------------------------
                        Table 
 -------------------------------------------------------*/
 #modal_table {
 	margin-top: 40px;
 }
 .table {
 	margin-top: 42px;
 	margin-left: -35px;
 	@include MQ(L) {
 		margin-left: 20px;
 	}

    td {

    	>a {
    	   color: $gray-1; 
           text-decoration: underline;
    	}

    	.button {
           text-transform: uppercase;
           margin-left: 35px;
        } 

    }

 	.pencil {
 		width: 20px;
 		float: right;
 	}

 	.stock {
 		color: $green-1;
 	}

 	.no-stock {
 		color: $red-1;
 	}

 }

.contain {
	width: 70vw;
	padding: 30px;
	margin-top: 40px;
	border: 1px solid lighten(#cccccc, 10%);
	background-color: $white-1;
	@include MQ(L) {
		margin-left: 300px;
	}
    label {
       font-size: 17px;
       margin-bottom: 7px;

       &.boolean {
         margin-top: 30px;
         padding-right: 20px; 
       }
    }

    &.last {
    	margin-bottom: 200px;
    	.button {
    		margin-right: 8px;
    		min-width: 99px;
    	}
    }
}

.input-group {
	position: relative;

	.input-group-label{
		text-align: center;
		width: 37px;
		height: 37px;
		border: 1px solid lighten(#cccccc, 3%);
		border-width: 1px 0px 1px 1px;
		background-color: lighten(#cccccc, 10%);
		padding-top: 4px;
		float: left;
	}

	.input-group-field {
		width: 85%;
	}     
}
.no-file {
	font-size: 17px;
	color: $red-1;
}
.true {
	color: $green-2;
}
.false {
	color: $red-1;
}
// flash-messages
div.flash-message {
	position: relative;
	height: 60px;
	color: $white;
	text-transform: uppercase;

    &.success {
    	background-color: $green-2;
    }

    &.alert{
    	background-color: $red-1;
    }

    p {
      position: absolute;
      @include center(xy);
      @include font-size(13px);
      text-align: center;

      @include MQ(L) {
          padding-left: 200px;
      }
    }

    &.public {
      background-color: $white-1;
      position: absolute;
      width: 100%;
      top: 0;
      height: 80px;
      color: $black-1;
      z-index: 7000;
      -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
      box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
      p {

        @include MQ(S) {
            @include font-size(12px);
        }
        @include MQ(M) {
            @include font-size(15px);
        }
        @include MQ(L) {
            @include font-size(15px);
        }
        padding-left: 0;
      }
    }

    &.js {
       transform: translate(0,-100px);
    }

    &.hide-flash {
       @include animation(animate-flash 1.0s ease);
       transform: translate(0,-100px);
    }

    &.show-flash {
       @include animation(animate-flash-down 1.0s ease);
       transform: translate(0,0);
    }

}

@keyframes animate-flash {
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(0,-100px);
	}
}

@keyframes animate-flash-down {
  0% {
    transform: translate(0,-100px);
  }
  100% {
    transform: translate(0,0);
  }
}

@keyframes animate-header {
	0% {
		transform: translate(200px,0px);
	}
	100% {
		transform: translate(200px,-60px);
	}
}

// product images admin display
.p-images {
	.p-image{
	   float: left;
	   width: 20%;
	}
}
.menu-fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
  z-index: 2000;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;

  ul {
      position: absolute;
      @include center(xy);
    li{
      margin-bottom: 15px;
      list-style: none;
      a {
        font-family: $b-med;
        @include font-smoothing;
        @include font-size(20px);
        color: $black;
        text-transform: uppercase;
        @include transition(color 0.2s ease-in);
        &:hover {
          color: lighten($black, 45%)
        }
      }
    }
  }
  &.shown {
    display: block;
  }

  &.hid {
    display: none;
  }
}

.promo-banner {
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
  z-index: 6000;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;

  &.shown {
    @include MQ(S) {
        visibility: hidden;
        display: none;
    }
    @include MQ(M) {
        visibility: hidden;
        display: none;
    }
    @include MQ(L) {
        visibility: visible;
        display: block;
    }
  }
  .cadre {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;

    h1 {
      position: absolute;
      @include center(xy);
      font-family: $b-bold;
      @include font-size(45px);
      font-size: 4vw;
      color: $white-1;
      z-index: 3000;
      text-align: center;
      min-width: 100%;
    }

    a {
      position: absolute;
      @include center(x);
      top: 45vh;
      color: $white-1;
      z-index: 3000;
    }
  }

  .image-container {
    position: absolute;
    @include center(xy);
    width: 45%;
    height: 70vh;
    
    span#dismiss {
      width: 45px;
      height: 45px;
      border-radius: 50px;
      background-color: $black;
      position: absolute;
      z-index: 3000;
      top: 30px;
      right: -25px;
      cursor: pointer;

      &:before {
        content: "";
        width: 25px;
        height: 2px;
        background-color: $white-1;
        position: absolute;
        @include center(y);
        left: 10px;
        @include transform(rotate(-45deg));
        z-index: 3001;
      }

      &:after {
        content: "";
        width: 25px;
        height: 2px;
        background-color: $white-1;
        position: absolute;
        @include center(y);
        left: 10px;
        @include transform(rotate(45deg));
        z-index: 3001;
      }

    }
      // @include MQ(S) {
      //     visibility: hidden;
      //     display: none;
      // }
      // @include MQ(M) {
      //     visibility: hidden;
      // }
      // @include MQ(L) {
      //     visibility: visible;
      // }
  }
  .cover-img {
    min-height: 70vh;
    min-width: 100%;
  }
}

#whitey {
  background-color: $white-1;
  color: $black;
  text-transform: uppercase;
  &:hover {
    background-color: $white-1;
  }
}

 /*--------------------------------------------------------
                       Show Orders
 -------------------------------------------------------*/
.show-order {
  padding-top: 50px;
}
ul.show-order-left, ul.show-order-right {
  list-style: none;
  font-family: $b-light;
}

ul.show-order-right {
  color: #000000;
}

ul.show-order-left {
  color: lighten($black, 40%);
  text-align: right;
}
