.contain
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@user,:first_name)}"} FirstName
      = f.input :first_name, label: false
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@user,:last_name)}"} LastName
      = f.input :last_name, label: false
  .row
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@user,:email)}"} Email
      = f.input :email, label: false
    .small-6.large-6.columns
      %label{:class => "#{error_on?(@user,:password)}"} Password
      = f.input :password, label: false
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@user,:job_title)}"} Job title
      = f.input :job_title, label: false
  .row
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@user,:twitter)}"} Twitter Link
      = f.input :twitter, label: false
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@user,:facebook)}"} Facebook Link
      = f.input :facebook, label: false
    .small-4.large-4.columns
      %label{:class => "#{error_on?(@user,:instagram)}"} Instagram Link
      = f.input :instagram, label: false
.contain
  .row
    = f.label "Avatar"
  .p-images.row
    - if @user.has_attachments?
      - @user.attachments.each do |attachment|
        .p-image
          = img_tag(attachment)
          %p= attachment.file_name
    - else 
      %p.no-file Upload your avatar image (avatar.jpg)
  .row
    = file_field_tag "images[]", type: :file, multiple: true
.contain
  .row
    .small-12.large-12.columns
      %label{:class => "#{error_on?(@user,:phone)}"} Phone number
      = f.input :phone, label: false
.contain.last
  .row
    = f.button :submit, "SAVE", class: 'button small round success header-btn'
    = link_to('CANCEL', admin_users_path(role: "admin"), class: 'button small dark round header-btn')
