.cd-header.show
  =image_tag('admins.svg', id:'ad-icon') 
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to admins', admin_users_path(role: "admin"), class: 'button small round dark header-btn')
  %h3.mar-left-80 Admins
= simple_form_for @user, html: {multipart: true}, url: url_for(:action => 'update', :controller => 'admin/users', :role => "admin"), :method => 'patch' do |f|
  = render(:partial => 'form', :locals => {:f => f})