.cd-header.show
  =image_tag( params[:role].to_s.pluralize + '.svg', id:'ad-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('new admin', new_admin_user_path(role: "admin"), class: 'button small round success header-btn') if params[:role] == "admin"
  %h3.mar-left-80= params[:role].to_s.capitalize.pluralize
    
.row
  .large-2.columns
  .small-11.medium-11.large-10.columns
    %table.table
      %thead
        %tr
          %th{width: 300} Full name
          %th{width: 300} Email
          %th{width: 250} Phone number
          %th{width: 50}
      %tboby
        - @users.each do |user|
          %tr
            %td= link_to(user.full_name, edit_admin_user_path(user))
            %td= user.email
            %td= user.phone
            %td.delete= link_to "Delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"}
    .admin-page
      = will_paginate @users