.cd-header.show
  =image_tag('admins.svg', id:'ad-icon')
  =image_tag('hamburger.svg', id:'menu-trigger')
  =link_to('back to admins', admin_users_path(role: "admin"), class: 'button small round dark header-btn')
  %h3.mar-left-80 Admins
= simple_form_for :user, html: {multipart: true}, url: admin_users_path(@user, :role => "admin"), method: :post do |f|
  = render(:partial => 'form', :locals => {:f => f})
