.login
  .login-container.timefade
    .auth-text.signup
      .title
        %h2= t 'layout.sign_up'
      - if flash.present?
        - flash.each do |type, message|
          %h5= message
    .auth-box
      = simple_form_for :user, url: admin_users_path(@user), method: :post do |f|
        = f.input :first_name, label: false, input_html: {id: "fname_field", placeholder: "#{t 'general.first_name'}"}
        = f.input :last_name, label: false, input_html: {id: "lname_field", placeholder: "#{t 'general.last_name'}"}
        = f.input :email, label: false, input_html: {id: "email-field", :autocomplete => "new-password", placeholder: "#{t 'general.email'}"}
        = f.input :password, label: false, input_html: {id: "password-field", :autocomplete => "new-password", placeholder: "#{t 'general.password'}"}
        = f.input :password_confirmation, label: false, input_html: {id: "password-field", :autocomplete => "new-password", placeholder: "#{t 'general.password_conf'}"}
        = f.button :submit, "#{t 'layout.sign_up'}", class: "button small round", id: "black-btn"
      .auth-links
        = link_to "#{t 'general.reset_pw'}", new_password_reset_path, id: "reset_pw"