= simple_form_for :order, url: "/admin/orders/#{@order.id}", :method => 'patch' do |f|
  - @delivery_services.each do |service|
    .row
      %hr/
      .large-4.columns.small-4
        %label{:class => "#{error_on?(@order,:promo_code)}"}= t "general.promo_code"
        = f.input :promo_code, label: false
    .row
      %hr/
      %h4= t 'general.chose'
      .large-8.columns.small-8
        = f.input :delivery_service_id, as: :radio_buttons, collection: [service], label_method: :name, label: false
        = f.input :delivery_price, as: :hidden, input_html: { value: service.delivery_service_prices.for_weight(cart_weight.to_i).first.price}
      .large-4.columns.small-4
        = price_tag(service.delivery_service_prices.for_weight(cart_weight.to_i).first.price).upcase
  .row
    %hr/
    .large-12.columns.small-12
      = f.button :submit, "#{t 'general.continue'}", class: "button small round", id: "black-btn"

