.menu-fixed
  %ul.nav
    %li= link_to("#{t 'layout.home'}", home_path(), "data-no-turbolink" => true)
    %li= link_to("#{t 'layout.store'}", store_path(cat: 0), "data-no-turbolink" => true)
    %li= link_to("#{t 'layout.blog'}", blog_path(), "data-no-turbolink" => true)
    %li= link_to("#{t 'layout.about'}", about_path(), "data-no-turbolink" => true)
    %li= link_to("#{t 'layout.contact'}", contact_path(), "data-no-turbolink" => true)
    - if logged_in?
      %li= link_to("#{t 'layout.sign_out'}", logout_path, "data-no-turbolink" => true)
    - else
      %li= link_to("#{t 'layout.sign_in'}", login_path, "data-no-turbolink" => true)