%header.header.promoted.dark#prep
  = link_to("#", class: "primary-nav-trigger") do
    %span.menu-icon.grey
  .locale-select
    = locale_tag
  = image_tag("gllogo.svg", id: "golflines")
  %nav
    %ul.secondary-nav
      - if logged_in?
        %li.username= current_user.short_name
      %li.cart-link= link_to("#{t 'layout.cart'} (" + cart.size.to_s + ")", cart_path)
