%h3= t "general.order_summary"
%ul.inline
  %li.out
    %ul
      %li.in= t "general.purchase_total"
      %li.in
        - if !@order.nil? && @order.has_items?
          = price_tag(@order.items_sub_total.to_i)
        - else
          = price_tag(cart_total).upcase
  %li.out
    %ul
      %li.in= t "general.order_total"
      %li.in
        - if !@amount_paid.nil?
          = price_tag(@amount_paid).upcase
        - else
          = price_tag(cart_total).upcase