.progress-bar
  %ul.prog-bar
    %li{:class => "frt", :id => "#{nav_active("cart")}"}= t "progress.cart"
    %li{:class => "mid", :id => "#{nav_active("addresses")}"}= t "progress.contact"
    %li{:class => "mid", :id => "#{nav_active("process")}"}= t "progress.delivery"
    %li{:class => "bck", :id => "#{nav_active("payments")}"}= t "progress.order"