.row.recommendations
  %p 
    = t "layout.reco"
  %hr/
.row.reco
  - @recommendations.each do |product|
    .small-3.large-3.columns.product-recos
      .image
        = link_to p_img_tag(product.attachments.find_by_file_name('front'), "front"), item_path(product.permalink), "data-no-turbolink" => true
        = link_to p_img_tag(product.attachments.find_by_file_name('back'), "back"), item_path(product.permalink),"data-no-turbolink" => true
      .product-details
        %p.product-name= link_to(product.name, item_path(product.permalink), "data-no-turbolink" => true)
            
        %p.product-price= link_to(price_tag(product.price), item_path(product.permalink), "data-no-turbolink" => true)