.login
  .login-container.timefade
    .auth-text
      .title 
        %h2= t 'layout.sign_in'
      - if flash.present?
        - flash.each do |type, message|
          %h5= message
    .auth-box
      = form_tag user_sessions_path, html: { autocomplete: "off" } do
        = text_field_tag :email, params[:email], :autocomplete => "new-password", placeholder: "#{t 'general.email'}", id: "email-field"
        = password_field_tag :password, params[:password], :autocomplete => "new-password", placeholder: "#{t 'general.password'}", id: "password-field"
        = submit_tag "#{t 'layout.sign_in'}", class: "button small round", id: "black-btn"
      .auth-links
        = link_to "#{t 'general.reset_pw'}", new_password_reset_path, id: "reset_pw"