.about-team
  .text-team
    %p= t "about.us"
.row
  .video-vimeo
    = @c.code.html_safe
.row
  .events
    %h1= t "about.also" 
    %p= t "about.events"
.dashiki-collage.row
  = image_tag "dashiki.jpg"