.container-contact
  .row
    %h1= t "contact.inquiry"
    %p.email
      = t "contact.email"
      = link_to "inquiries@golflines.com", "mailto: inquiries@golflines.com"
      = t "contact.reply" 
      %br= t "contact.help"

    %p.address
      = t "contact.our_address"
      %br= t "contact.state" 
      = t "contact.street"
      %br= t "contact.area"
