%section.cd-top
  .explore
    %p= image_tag("#{explore_tag}", class: "svg")
  .cd-slider
    %ul.slider-control
      %li.selected
      %li
      %li
      %li
      %li
    %ul.slider-1.autoplay
      %li.selected
        = image_tag("slide4.jpg", class: "large-v")
        = image_tag("slide4sm.jpg", class: "small-v")
      %li
        = image_tag("slide1.jpg", class: "large-v")
        = image_tag("slide1sm.jpg", class: "small-v")
      %li
        = image_tag("slide2.jpg", class: "large-v")
        = image_tag("slide2sm.jpg", class: "small-v")
      %li
        = image_tag("slide3.jpg", class: "large-v")
        = image_tag("slide3sm.jpg", class: "small-v")
      %li
        = image_tag("slide5.jpg", class: "large-v")
        = image_tag("slide5sm.jpg", class: "small-v")
%section.quote
  .braces= image_tag("brwt.svg")
  .text
    %h3= t "home.title"
    .shop
      = link_to( "#{t 'home.shop'}", store_path(cat: 0), "data-no-turbolink" => true ,class: "button round small inverted")
%section.collage.row
  .collage-container
    .top
      .social-link#fcbk
        = link_to "https://facebook.com" do
          %p=  t "home.facebook"
          .icon-container
            = image_tag("facebook.svg")
      #hoodies
        = link_to store_path(cat: 5) do
          .hov
          %h2= t "home.hoodies"
        = image_tag("hoodies.jpg")
      #longs
        = link_to store_path(cat: 4) do
          .hov
          %h2= t "home.tees"
        = image_tag("longs.jpg")
    .btm
      #tees
        = link_to store_path(cat: 3) do
          .hov
          %h2= t "home.accessories"
        = image_tag("accessories.jpg")
      #jackets
        = link_to store_path(cat: 7) do
          .hov
          %h2= t "home.jackets"
        = image_tag("jackets.jpg")
      .social-link#insta
        = link_to "https://instagram.com/golflinesofficial" do
          %p= t "home.instagram"
          .icon-container
            = image_tag("instagram.svg")
%section.about
  .background-container
    = image_tag("bckg.jpg", class: "large-v")
    = image_tag("bckg-sm.jpg", class: "small-v")
    .text-l
      %p= t "home.about"
      = link_to "#{t 'home.learn'}", about_path, "data-no-turbolink" => true, class: "button round small", id: "black-trans"
    .emb-image
      = image_tag("about.jpg")
%section.hoodie
  %p= t "home.us"
  = link_to "#{t 'home.blog'}", blog_path, class: "button round small", id: "white-trans"
.promo-banner
  .image-container
    %span#dismiss
    .cadre
      - if !@promotion.nil?
        = xl_img_tag(@promotion.attachments.find_by_file_name('cover'), 'cover-img')
        %h1= @promotion.description.titleize
        = link_to( "#{t 'home.shop'}", store_path(cat: 0), "data-no-turbolink" => true ,class: "button round small", id: 'whitey')
