- image_front = @product.attachments.find_by_file_name('front').file.medium.url.to_s
- image_back = @product.attachments.find_by_file_name('back').file.medium.url.to_s
- image_det_frt = @product.attachments.find_by_file_name('detail_front').file.medium.url.to_s
- image_det_frt_lg = @product.attachments.find_by_file_name('detail_front_lg').file.medium.url.to_s
- image_det_back_lg = @product.attachments.find_by_file_name('detail_back_lg').file.medium.url.to_s
- image_front_lg = @product.attachments.find_by_file_name('front').file.large.url.to_s
- image_back_lg = @product.attachments.find_by_file_name('back').file.large.url.to_s
- image_det_frt_xlg = @product.attachments.find_by_file_name('detail_front_lg').file.large.url.to_s
- image_det_back_xlg = @product.attachments.find_by_file_name('detail_back_lg').file.large.url.to_s
.row.product
  .small-12.large-6.columns.product-view
    .prod.sm.one
      %ul.more#wrap-1
        %li.visi= image_tag(image_back, class: "front")
        %li= image_tag(image_front, class: "front")
        %li= image_tag(image_det_frt_lg, class: "front")
        %li= image_tag(image_det_back_lg, class: "front")
    .prod.sm.two
      %ul.more#wrap-2
        %li= image_tag(image_back, class: "front")
        %li= image_tag(image_front, class: "front")
        %li.visi= image_tag(image_det_frt_lg, class: "front")
        %li= image_tag(image_det_back_lg, class: "front")
    .prod.sm.three
      %ul.more#wrap-3
        %li= image_tag(image_back, class: "front")
        %li= image_tag(image_front, class: "front")
        %li= image_tag(image_det_frt_lg, class: "front")
        %li.visi= image_tag(image_det_back_lg, class: "front")
    .prod.bg
      %span.analog
      %ul.more#wrap-4
        %li= image_tag(image_back_lg, class: "front")
        %li.visi= image_tag(image_front_lg, class: "front")
        %li= image_tag(image_det_frt_xlg, class: "front")
        %li= image_tag(image_det_back_xlg, class: "front")
  .small-12.large-6.columns.product-detail
    .product-introduction
      %h2= @product.name
      %p= @product.product_category.description
    .price
      %h2{:class => "#{price_promo(@product)}"}
        = price_tag(@product.price)
        - if @product.promoted? && @product.promotion.active
          %span#promo
            = price_tag(@product.promo_price)

    .cart-form
      = form_tag(add_path, method: 'get', remote: true, id: "cart-form") do
        .row
          .small-9.large-9.columns
            %p= t "cart.size"
            %ul.unstyled
              %li{:class => "control #{availability(@product,'s')}"}
                = radio_button_tag 'size', 's', false, class: "styled-radio-btn"
                = label_tag 'size', '', class: "size-s"
              %li{:class => "control #{availability(@product,'m')}"}
                = radio_button_tag 'size', 'm', false, class: "styled-radio-btn"
                = label_tag 'size', '', class: "size-m"
              %li{:class => "control #{availability(@product,'l')}"}
                = radio_button_tag 'size', 'l', false, class: "styled-radio-btn"
                = label_tag 'size', '', class: "size-l"
              %li{:class => "control #{availability(@product,'xl')}"}
                = radio_button_tag 'size', 'xl', false, class: "styled-radio-btn"
                = label_tag 'size', '', class: "size-xl"
              %li{:class => "control #{availability(@product,'xxl')}"}
                = radio_button_tag 'size', 'xxl', false, class: "styled-radio-btn"
                = label_tag 'size', '', class: "size-xxl"
            %p{:class => "no-display", :id => "#{availability(@product,'any')}"}= t "cart.sold_out"
          .small-3.large-3.columns.quantity
            %p= t "cart.qty_low"
            = text_field_tag 'quantity', params[:quantity], placeholder: "0", type: 'number'
            = hidden_field_tag 'id', @product.id
            = hidden_field_tag 'image',image_det_frt
            = hidden_field_tag 'name', @product.name
            = hidden_field_tag 'weight', @product.weight
            - if @product.promoted? && @product.promotion.active
              = hidden_field_tag 'price', @product.promo_price
            - else
              = hidden_field_tag 'price', @product.price
        .row
          = submit_tag "#{t 'cart.add'}", class: "button small round commit", id: "black-btn"
    .description
      %p= @product.description
= render(:partial => 'application/recommendations')

