.slider
%nav.nav-shop
  %ul.shop-category
    %li.nav= link_to("#{t 'store.all'}", store_path(cat: 0), class: nav_on(0), "data-no-turbolink" => true)
    - @categories.each do |category|
      %li.nav
        = link_to(category.name, store_path(cat: category.id), class: nav_on(category.id), "data-no-turbolink" => true)
        - if category.promoted && category.promotion.active
          %p.bubble= "-" + category.promotion.rate.to_i.to_s 
- @products.each_slice(3) do |slice|
  .products-disp.row
    -slice.each do |product|
      %div{:class => "small-12 large-4 columns product-image clearfix"}
        .images
          = link_to p_img_tag(product.attachments.find_by_file_name('front'), "front"), item_path(:permalink => product.permalink), "data-no-turbolink" => true
          = link_to p_img_tag(product.attachments.find_by_file_name('back'), "back"), item_path(:permalink => product.permalink), "data-no-turbolink" => true
          - if product.total_stock > 0
            %div{:class => "sizes to-back", :id => "#{product.id.to_s + '_sizes'}"}
              = form_tag(add_path, method: 'get', remote: true, id: "#{'cart-form_' + product.id.to_s}") do
                %ul{:class => "unstyled-store hide-menu", :id => "#{product.id.to_s + '_list'}"}
                  %li{:class => "store-sizes #{availability(product,'s')}"}
                    = radio_button_tag 'size', 's', false, class: "styled-radio-btn-store"
                    = label_tag 'size', '', class: "size-s"
                  %li{:class => "store-sizes #{availability(product,'m')}"}
                    = radio_button_tag 'size', 'm', false, class: "styled-radio-btn-store"
                    = label_tag 'size', '', class: "size-m"
                  %li{:class => "store-sizes #{availability(product,'l')}"}
                    = radio_button_tag 'size', 'l', false, class: "styled-radio-btn-store"
                    = label_tag 'size', '', class: "size-l"
                  %li{:class => "store-sizes #{availability(product,'xl')}"}
                    = radio_button_tag 'size', 'xl', false, class: "styled-radio-btn-store"
                    = label_tag 'size', '', class: "size-xl"
                  %li{:class => "store-sizes #{availability(product,'xxl')}"}
                    = radio_button_tag 'size', 'xxl', false, class: "styled-radio-btn-store"
                    = label_tag 'size', '', class: "size-xxl"
                  = hidden_field_tag 'quantity', 1
                  = hidden_field_tag 'id', product.id
                  = hidden_field_tag 'image',product.attachments.find_by_file_name('detail_front').file.medium.url.to_s
                  = hidden_field_tag 'name', product.name
                  = hidden_field_tag 'weight', product.weight
                  - if product.promoted? && product.promotion.active 
                    = hidden_field_tag 'price', product.promo_price
                  - else
                    = hidden_field_tag 'price', product.price
                  %li{:class => "store-sizes"}
                    = submit_tag "#{t 'cart.add'}", class: "commit add-cart-store"
          - else
            %div{:class => "sizes to-back", :id => "#{product.id.to_s + '_sizes'}"}
              %ul{:class => "unstyled-store hide-menu", :id => "#{product.id.to_s + '_list'}"}
                %li{:class => "store-sizes"}
                  = radio_button_tag 'size', 's', false, class: "styled-radio-btn-store", id: "sold-out"
                  = label_tag 'size', '', class: "sold-out"
        .product-details
          %p.product-name= link_to(product.name, item_path(product.permalink), "data-no-turbolink" => true)
            
          %p.product-price
            - if product.promoted? && product.promotion.active
              = link_to(price_tag(product.promo_price), item_path(product.permalink) , "data-no-turbolink" => true)
              %span#on-sale 
                = "-" + product.promotion.rate.to_i.to_s + "%"
            - else
              = link_to(price_tag(product.price), item_path(product.permalink) , "data-no-turbolink" => true)
        .toggle-sizes
          %p{:class => "toggler", :id => "#{product.id}"}= t 'cart.add'
.page
  = will_paginate @products
          


       

  


