!!! 5
%html{ :lang => "en"}
  %head 
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title GolfLines|Admin

    = favicon_link_tag 'fav.ico'
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = include_gon
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    %main.cd-main-content
      %nav.cd-side-nav.nav-is-visible
        %ul 
          %li.main
          %li{:class => "has_no_children #{nav_active('users_customers')}"}
            =link_to "Customers", admin_users_path(role: "customer")
          %li{:class => "has_no_children orders #{nav_active('orders')}"}
            =link_to "Orders", admin_orders_path
          %li{:class => "has_no_children products #{nav_active('products')}"}
            =link_to "Products", admin_products_path
          %li{:class => "has_no_children products #{nav_active('product_categories')}"}
            =link_to "Categories", admin_product_categories_path
          %li{:class => "has_no_children products #{nav_active('promotions')}"}
            =link_to "Promotions", admin_promotions_path
          %li{:class => "has_no_children delivery #{nav_active('delivery_services')} #{nav_active('delivery_service_prices')}"}
            =link_to "Delivery Services", admin_delivery_services_path
          %li{:class => "has_no_children tax_rates #{nav_active('tax_rates')}"}
            =link_to "Tax Rates", admin_tax_rates_path
          %li{:class => "has_no_children articles #{nav_active('articles')}"}
            =link_to "Articles", admin_articles_path
          %li{:class => "has_no_children countries #{nav_active('countries')}"}
            =link_to "Countries", admin_countries_path
          %li{:class => "has_no_children currencies #{nav_active('currencies')}"}
            =link_to "Currencies", admin_currencies_path
          %li{:class => "has_no_children admins #{nav_active('users_admins')}"}
            =link_to "Admins", admin_users_path(role: "admin")
          %li.has_no_children.logout
            =link_to "Logout", logout_path
          %li.has_no_children.home
            =link_to "Go to GolfLines", home_path(role: "admin"), "data-no-turbolink" => true
      - flash.each do |type, message|
        %div{:class => "flash-message #{type}"}
          %p= message
      = yield
    .row#footer
      = render(partial: 'application/modal')
