!!! 5
%html{ :lang => "en"}
  %head 
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title GolfLines|Legalized society
    
    = favicon_link_tag 'fav.ico'
    = include_gon
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "https://js.braintreegateway.com/js/braintree-2.21.0.min.js"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag
  %body#public
    = image_tag('three-dots.svg', class: "loader")
    .site
      = render(:partial => 'application/fixnav')
      - flash.each do |type, message|
        %div{:class => "flash-message public"}
          %p= message
      - if (['index','blog','article'].include? action_name) && (['public', 'blog'].include? controller_name)
        %header.header#prep
          = link_to("#", class: "primary-nav-trigger") do
            %span.menu-icon
          .locale-select
            = locale_tag
          = image_tag("gllogo.svg", id: "golflines")
          %nav
            %ul.secondary-nav
              - if logged_in?
                %li.username-w= current_user.short_name
              %li.cart-link= link_to("#{t 'layout.cart'} (" + cart.size.to_s + ")", cart_path, "data-no-turbolink" => true)
      - else
        = render(:partial => 'application/nav')
      - if !(["blog","delivery"].include? action_name)
        .div{ :class => "scroller #{nav_active(['addresses', 'process'])}" }
          %p#top
            = t "layout.top"  
            = image_tag("scroll.svg", class: 'svg')
      = yield
    .footer
      %hr/
      .footer-left
        %p &copy 2016 GolfLines - Legalized Society
      .footer-mid
        = link_to("#{t 'layout.terms'} ", terms_path, id: "terms" )
        = link_to("#{t 'layout.contact'}", contact_path, id: "contact")
      .footer-right
        .credit
          = link_to "Thirdspark", "#"
          = image_tag "logo-ts.svg", class: "ts-logo"
  

