!!! 5
%html{ :lang => "en"}
  %head 
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title GolfLines|Legalized society

    = favicon_link_tag 'fav.ico'
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = include_gon
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body#public
    = image_tag('three-dots.svg', class: "loader")
    .site
      = render(:partial => 'application/fixnav')
      %header.header.dark.timefade
        = link_to("#", class: "primary-nav-trigger") do
          %span.menu-icon
        .locale-select
          = locale_tag
        %nav
          %ul.secondary-nav
            %li= auth_link_tag 
      .div.scroller
        %p#top
          Return to top  
          = image_tag("scroll.svg", class: 'svg')
      = yield
      .footer-auth.timefade
        .footer
          .footer-left
            %p &copy 2016 GolfLines - Legalized Society
          .footer-mid
            = link_to("#{t 'layout.terms'} ", terms_path, id: "terms" )
            = link_to("#{t 'layout.contact'}", contact_path, id: "contact")
          .footer-right
            .credit
              = link_to "Thirdspark", "#"
              = image_tag "logo-ts.svg", class: "ts-logo"
